<div ng-if="lesson.otherLessonsDuringWeek.length">
	<md-menu md-position-mode="target-right target" md-offset="0 50">
		<a ng-href="#" ng-click="vm.openMenu($mdOpenMenu, $event)" class="count_module remaining">
			+{{lesson.otherLessonsDuringWeek.length}}
		</a>
		<md-menu-content width="4" class="menu_content_lesson_multiple">
			<md-menu-item class="header">
				<span class="title">Autres cours dispensés</span>
			</md-menu-item>
			<md-menu-item class="subHeader">
				<span flex>Module</span>
				<span flex>Formateur</span>
				<span flex>Salle</span>
				<span flex>Lieu</span>
				<span flex>Début</span>
				<span flex>Fin</span>
			</md-menu-item>
			<md-menu-item ng-repeat="lessonMultiple in lesson.otherLessonsDuringWeek | orderBy : 'debut' " class="item">
				<span class="lessonMultiple" flex>{{lessonMultiple.module.libelleCourt}}</span>
				<span class="lessonMultiple" flex>{{lessonMultiple.formateur.nom}} - {{lessonMultiple.formateur.prenom}}</span>
				<span class="lessonMultiple" flex>{{lessonMultiple.salle.code}}</span>
				<span class="lessonMultiple" flex>{{lessonMultiple.salle.lieu.libelle}}</span>
				<span class="lessonMultiple_date" flex>{{lessonMultiple.debut | date :'dd-MM-yyyy hh:mm:ss'}}</span>
				<span class="lessonMultiple_date" flex>{{lessonMultiple.fin | date :'dd-MM-yyyy hh:mm:ss'}}</span>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</div>
