<section class="ac-container" layout="row">
	<div class="display-filters" flex>
		<input id="ac-1" name="accordion-1" type="checkbox" />
		<label class="background" for="ac-1">
			<md-button class="md-fab md-mini" disabled aria-label="Filtrer">
				<i class="material-icons">sort</i>
			</md-button>
			Filtres
		</label>
		<article class="ac-small">
			<md-content layout="column">
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Lieux" flex>
						<md-content class="md-padding">
							<md-chips class="custom-chips" ng-model="displayFilters.cities" readonly="true">
								<md-chip-template ng-hide="$chip === 'undefined'">
									<span><strong>#{{$chip}}</strong></span>
								</md-chip-template>
							</md-chips>
						</md-content>
					</md-tab>
					<md-tab label="Formations" flex>
						<md-content class="md-padding">
							<md-chips class="custom-chips" ng-model="displayFilters.formations" readonly="true">
								<md-chip-template><span><strong>#{{$chip}}</strong></span></md-chip-template>
							</md-chips>
						</md-content>
					</md-tab>
					<md-tab label="Promotions" ng-if="data.filtersSelected.viewPlanning ==='promotion'" flex>
						<md-content class="md-padding">
							<md-chips class="custom-chips" ng-model="displayFilters.promotions" readonly="true">
								<md-chip-template><span><strong>#{{$chip}}</strong></span></md-chip-template>
							</md-chips>
						</md-content>
					</md-tab>

					<md-tab label="Formateurs" ng-if="data.filtersSelected.viewPlanning ==='formateur'" flex>
						<md-content class="md-padding">
							<md-chips class="custom-chips" ng-model="displayFilters.formateurs" readonly="true">
								<md-chip-template><span><strong>#{{$chip}}</strong></span></md-chip-template>
							</md-chips>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</article>
	</div>
	<div flex="5"></div>
	<div class="display-filters" flex>

		<input id="ac-2" name="accordion-1" type="checkbox" />
		<label class="background" for="ac-2">
			<md-button class="md-fab md-mini" disabled aria-label="Affichage">
				<i class="material-icons">visibility</i>
			</md-button>
			Affichage
		</label>
		<article class="ac-small">
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Vision" flex>
					<md-content class="md-padding">
						<div class="collapsible-body" layout="row" layout-align="center center">
							<md-button class="grpView left" ng-click="vm.setViewPlanning('promotion')" ng-class="{'active':data.filtersSelected.viewPlanning === 'promotion'}">Promotions</md-button>
							<md-button class="grpView middle" ng-click="vm.setViewPlanning('formateur')" ng-class="{'active':data.filtersSelected.viewPlanning === 'formateur'}">Formateurs</md-button>
							<md-button class="grpView right" ng-click="vm.setViewPlanning('salle')" ng-class="{'active':data.filtersSelected.viewPlanning === 'salle'}">Salles</md-button>
						</div>
					</md-content>
				</md-tab>
				<md-tab label="Conflits" flex>
					<md-content class="md-padding">
						<div class="ImpossibleCase">
							<md-list>
								<md-list-item class="secondary-button-padding" ng-repeat="impossibleCase in vm.displayPlanningImpossible">
									<p flex="25">{{impossibleCase.debut | date :'dd-MM-yyyy'}} - {{impossibleCase.fin | date :'dd-MM-yyyy'}}</p>
									<p flex="55">{{impossibleCase.module.libelle}}</p>
									<md-button class="md-raised" ng-click="vm.toggleRight();vm.setLessonSelected(impossibleCase)">Editer</md-button>
								</md-list-item>
							</md-list>
						</div>
					</md-content>
				</md-tab>
			</md-tabs>
		</article>
	</div>
</section>
