<div class="header-content">
	<div layout="row" layout-align="space-between start">
		<div class="number_classroom">
			<span class="count_module trainees">{{lesson.nbStagiaire}}</span>
			{{lesson.salle.code}}
		</div>
		<div side-nav-planning></div>
	</div>
</div>
<div class="body-content">
	<span class="title">{{lesson.libelle}}</span>
	<i class="material-icons statut_formateur">school</i>
</div>
<div layout="row" layout-align="space-between start" class="footer-content">
	<div ng-class="{'content-formateur': lesson.formateur}">
		<md-icon class="person-icon">person</md-icon>
		<span class="username" ng-if="lesson.module.dureeEnSemaines === 1 && lesson.formateur.nom.length >= 6">
			{{lesson.formateur.nom + ' ' +  lesson.formateur.prenom.charAt(0)|uppercase | limitTo:7}}...
		</span>
		<span class="username" ng-if="lesson.module.dureeEnSemaines > 1 || lesson.formateur.nom.length <= 6 && content.module.dureeEnSemaines === 1">
			{{lesson.formateur.nom + ' ' +  lesson.formateur.prenom.charAt(0)|uppercase}}
		</span>
		<md-tooltip md-direction="bottom">
			{{lesson.formateur.nom}} {{lesson.formateur.prenom}}
		</md-tooltip>
	</div>

	<div ng-if="lesson.otherLessonsDuringWeek.length">
		<md-menu md-position-mode="target-right target" md-offset="0 50">
			<a ng-href="#" ng-click="vm.openMenu($mdOpenMenu, $event)" class="count_module remaining">
				+{{lesson.otherLessonsDuringWeek.length}}
			</a>
			<md-menu-content width="4" class="menu_content_lesson_multiple">
				<md-menu-item class="header">
					<span class="title">Autres cours dispensés</span>
				</md-menu-item>
				<md-menu-item ng-repeat="lessonMultiple in lesson.otherLessonsDuringWeek" class="item">
					<span class="lessonMultiple" flex="50">{{lessonMultiple.module.libelleCourt}}</span>
					<div class="lessonMultiple_date" flex>
						<span ng-init="dateStart = vm.convertDate(lessonMultiple.debut)">{{dateStart}}</span>
						<span ng-init="dateEnd = vm.convertDate(lessonMultiple.fin)">/ {{dateEnd}}</span>
					</div>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</div>
