<div class="md-padding" flex layout-sm="column" ng-cloak>
	<div ng-include="'app/modules/planning/header-planning.html'"></div>

	<div ng-if="!vm.displayPlanning">
		<icon-panel type="info" title="Aucune données n'a été trouvée."></icon-panel>
	</div>

	<div side-nav-planning lesson="vm.lessonSelected"></div>

	<div ng-if="vm.displayPlanning">
		<content-months-planning></content-months-planning>
		<table class="lesson">
			<thead>
			<tr class="weeks">
				<th class="hide_th lieu"></th>
				<th class="hide_th promotion"></th>
				<th class="week" ng-repeat="week in vm.getWeeks">
					<span class="number-week">Semaine {{week.number}}</span><br/> <span class="date-week">{{week.start}} - {{week.end}}</span>
				</th>
			</tr>
			</thead>
			<tbody>
				<tr class="module" ng-repeat="data in vm.contentMonths">
					<td class="lieu_module" ng-init="applyRowspan = vm.isRowspanApplied(data.city)" ng-show="applyRowspan" rowspan="{{vm.rowspan.cities[data.city].length}}">
						<p ng-hide="data.city === 'undefined'">{{data.city}}</p>
					</td>
					<td class="promotion" ng-init="displayBySplit = vm.splitDisplayBy(data.displayBy)">{{displayBySplit}}</td>
					<td class="content {{lesson.facturation|lowercase}}" ng-repeat="lesson in data.lessons" colspan="{{lesson.module.dureeEnSemaines || lesson.dureeEnSemaines}}">
						<div ng-if="lesson" layout="column" layout-align="space-around none" flex>
							<div class="lesson" ng-if="lesson.libelle">
								<div class="header-content">
									<div layout="row" layout-align="space-between start">
										<div class="number_classroom">
											<span class="count_module trainees">{{lesson.nbStagiaire}}</span>
											{{lesson.salle.code}}
										</div>
										<a ng-href="" ng-click="vm.toggleRight();vm.setLessonSelected(lesson)" ng-class="{'active' : vm.isOpenRight() == true}" ng-show="account.isAdmin === true">
											<i class="material-icons md-15 update_module">create</i>
										</a>
									</div>
								</div>
								<div class="body-content">
									<span class="title">{{lesson.libelle}}</span>
									<i class="material-icons warning" ng-show="lesson.alerts.length > 0">warning</i>
									<i class="material-icons statut_formateur" ng-if="lesson.ecf">school</i>
									<i class="material-icons statut_formateur" ng-if="lesson.ecf.corrige">done</i>
								</div>
								<div class="footer-content" layout="row" layout-align="space-between start">
									<div ng-class="{'content-formateur': lesson.formateur}">
										<md-icon class="person-icon">person</md-icon>
										<span class="username" ng-if="lesson.module.dureeEnSemaines === 1 && lesson.formateur.nom.length >= 6">
											{{lesson.formateur.nom + ' ' +  lesson.formateur.prenom.charAt(0)|uppercase | limitTo:7}}...
										</span>
										<span class="username" ng-if="lesson.module.dureeEnSemaines > 1 || lesson.formateur.nom.length <= 6 && content.module.dureeEnSemaines === 1">
											{{lesson.formateur.nom + ' ' +  lesson.formateur.prenom.charAt(0)|uppercase}}
										</span>
										<md-tooltip md-direction="bottom" ng-if="lesson.formateur.nom">
											{{lesson.formateur.nom}} {{lesson.formateur.prenom}}
										</md-tooltip>
									</div>
									<div ng-include="'app/modules/planning/detailsWeek.html'"></div>
								</div>
							</div>
							<div class="conge" ng-if="lesson.etatConge">
								<div class="header-content">
									<div layout="row" layout-align="space-between start">
										<span flex></span>
										<a ng-href="" ng-click="vm.toggleRight();vm.setLessonSelected(lesson)" ng-class="{'active' : vm.isOpenRight() == true}" ng-show="account.isAdmin === true">
											<i class="material-icons md-15 update_module">create</i>
										</a>
									</div>
								</div>
								<div class="body-content">
									<md-icon>schedule</md-icon>
									<span class="title">{{lesson.etatConge}}</span>
									<div class="scheduler">{{lesson.dateDebutConge | date : 'dd MMM'}} - {{lesson.dateFinConge | date : 'dd MMM'}}</div>
								</div>
								<div class="footer-content" layout="row" layout-align="space-between start">
									<span flex></span>
									<div ng-include="'app/modules/planning/detailsWeek.html'"></div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
