<ng-atomic-notify custom-template="app/modules/shared/templates/notify-atomic.tpl.html"></ng-atomic-notify>
<form name="loginForm" class="login" layout="column" layout-fill layout-align="center center" ng-controller="LoginCtrl as ctrl">
  <md-card class="md-whiteframe-z5">
    <md-card-header>
      <md-card-header-text>
        <h1 class="md-title" style="text-align:center">Connexion</h1>
      </md-card-header-text>
    </md-card-header>
    <md-card-content layout="row" layout-align="center center">
      <md-input-container flex class="md-icon-float">
        <md-icon md-font-set="material-icons" aria-label="down">person</md-icon>
        <label>Identifiant</label>
        <input type="text" name="username" ng-model="ctrl.credentials.user">
      </md-input-container>
      <md-input-container flex class="md-icon-float md-block">
        <md-icon md-font-set="material-icons" aria-label="down">lock</md-icon>
        <label>Mot de passe</label>
        <input type="password" name="password" ng-model="ctrl.credentials.pass" ng-enter="ctrl.login(ctrl.credentials)">
    </md-input-container>
    <md-button class="md-raised md-warn md-hue-3 md-icon-button" ng-enter ng-click="ctrl.login(ctrl.credentials)" ng-disabled="!loginForm.username.$valid || !loginForm.password.$valid">
      <md-icon md-font-set="material-icons">play_arrow</md-icon>
    </md-button>
  </md-card-content>
</md-card>
</form>
