<div role="dialog" aria-label="Affectation" layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Nouvelle affectation de site</h2>
    </div>
  </md-toolbar>
  <form>
    <div>
      <p ng-bind="identite"></p>
      <md-select ng-model="newAffectation.lieu" placeholder="Lieu" class="md-no-underline" required md-no-asterisk="false" flex>
        <md-option value="{{lieu.id}}" ng-repeat="lieu in lieux track by lieu.id">{{lieu.libelle}}</md-option>
      </md-select>
      <md-checkbox ng-model="newAffectation.default" aria-label="default" ng-disabled="disableDefault">Defaut</md-checkbox>
      <md-select ng-model="newAffectation.preference" placeholder="Lieu" class="md-no-underline" ng-attr-disabled="{{ newAffectation.default === true  ? 'disabled' : undefined }}" required flex>
        <md-option value="1">1</md-option>
        <md-option value="2">2</md-option>
        <md-option value="3">3</md-option>
      </md-select>
    </div>

    <div layout="row">
      <md-button md-autofocus flex class="md-raised md-primary" ng-click="closeDialog()" ng-disabled="!newAffectation">
        Valider
      </md-button>
    </div>
  </form>
</div>
