<style>
    .swagger-validator {
        display: none;
    }
</style>
<div ng-controller="ApiDocCtrl as ctrl">
    <h3 ng-show="ctrl.isLoading">loading ...</h3>
    <div layout-fill flex swagger-ui url="ctrl.url" loading="isLoading" parser="json" api-explorer="true" trusted-sources="true"
         error-handler="ctrl.myErrorHandler" template-url="app/modules/shared/templates/apidoc/apidoc.tpl.html">
    </div>
</div>
