<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Créer une compétence</h2>
    </div>
  </md-toolbar>
  <form>
    <div>
      <md-input-container flex>
        <label>Code</label>
        <input type="text" ng-model="newCompetence.code" maxlength="20" required>
      </md-input-container>
      <md-input-container flex>
        <label>Libelle</label>
        <input type="text" ng-model="newCompetence.libelle" maxlength="50" required>
      </md-input-container>
    </div>

    <div layout="row">
      <md-button md-autofocus flex class="md-primary" ng-click="closeDialog()" ng-disabled="!newCompetence">
        Valider
      </md-button>
    </div>
  </form>
</div>
