<form name="formateursConfigForm" layout="column" layout-fill class="configuration"  style="overflow: auto; height: 100%;" ng-controller="FormateursCtrl as ctrl" >
        <div>
                <md-toolbar layout="row" layout-align="end center">
                        <h2 class="md-toolbar-tools" ncy-breadcrumb></h2>
                </md-toolbar>
        </div>
        <div layout="row">
                <div layout="column" flex="70">
                        <md-toolbar class="toolbar-secondary" layout="row" layout-align="end center">
                                <p class="md-toolbar-tools">Affectation de compétences</p>
                        </md-toolbar>
                        <div layout="row">
                                <div layout="column" class="md-padding" flex="35">
                                        <md-autocomplete
                                        md-input-name="inputFormateur"
                                        md-no-cache="true"
                                        md-selected-item="ctrl.selectedFormateur"
                                        md-search-text="ctrl.searchFormateur"
                                        md-search-text-change="ctrl.searchFormateurChange(ctrl.searchFormateur)"
                                        md-items="formateur in ctrl.querySearch(ctrl.searchFormateur, 'formateur')"
                                        md-item-text="formateur.nom"
                                        md-floating-label="Rechercher un formateur">
                                        <md-item-template>
                                                <span md-highlight-text="ctrl.searchFormateur">{{formateur.nom}} {{formateur.prenom}}</span>
                                        </md-item-template>
                                </md-autocomplete>
                                <md-content>
                                        <md-list>
                                                <md-list-item class="md-2-line" ng-repeat="formateur in ctrl.formateurs | orderBy : 'nom' track by formateur.idFormateur" ng-click="ctrl.selectFormateur(formateur)">
                                                        <md-icon md-font-set="material-icons" class="md-avatar">person</md-icon>
                                                        <div class="md-list-item-text">
                                                                <p>{{formateur.nom}} {{formateur.prenom}}</p>
                                                        </div>
                                                        <md-divider></md-divider>
                                                </md-list-item>
                                        </md-list>
                                </md-content>
                        </div>
                        <div layout="column" class="md-padding" flex>
                                <md-autocomplete
                                md-input-name="inputCompetence"
                                md-no-cache="true"
                                md-selected-item="ctrl.selectedCompetence"
                                md-selected-item-change="ctrl.selectedCompetenceChange(competence)"
                                md-search-text="ctrl.searchCompetence"
                                md-search-text-change="ctrl.searchCompetenceChange(ctrl.searchCompetence)"
                                md-items="competence in ctrl.querySearch(ctrl.searchCompetence, 'competence')"
                                md-item-text="competence.libelle"
                                md-floating-label="Ajouter une compétence">
                                <md-item-template>
                                        <span md-highlight-text="ctrl.searchCompetence">{{competence.code | uppercase}} - {{competence.libelle | uppercase}}</span>
                                </md-item-template>
                        </md-autocomplete>
                        <md-content>
                                <md-list ng-cloak>
                                        <md-list-item class="md-2-line" ng-repeat="competence in ctrl.competencesFormateur">
                                                <md-icon md-font-set="material-icons" class="md-avatar">class</md-icon>
                                                <div class="md-list-item-text">
                                                        <p><span class="md-body-2" ng-bind="competence.code | uppercase"></span> - <span class="md-body-2" ng-bind="competence.libelle | uppercase"></span></p>
                                                        <md-button class="md-secondary" ng-click="ctrl.removeCompetence(competence)">Enlever</md-button>
                                                </div>
                                        </md-list-item>
                                </md-list>
                        </md-content>
                </div>
        </div>

</div>
<div layout="column" flex="30" class="md-whiteframe-z2">
        <md-toolbar class="toolbar-secondary" layout="row" layout-align="end center">
                <p class="md-toolbar-tools">Affectation de sites</p>
                <md-button  class="md-raised md-fab md-mini md-warn md-hue-3" ng-click="ctrl.newAffectation()"><md-icon md-font-set="material-icons" aria-label="down">add</md-icon></md-button>
        </md-toolbar>
        <div layout="column" class="md-padding" flex>
                <md-content flex>
                        <md-list>
                                <md-list-item class="md-2-line" ng-repeat="affectation in ctrl.affectationsLieux" ng-class="ctrl.isDefault(affectation) ? 'is-first' : '' " ng-click="ctrl.newAffectation(affectation)">
                                        <div class="md-list-item-text">
                                                <p>{{affectation.lieu.libelle}}</p>
                                                <md-button class="md-secondary md-fab md-mini md-raised" ng-click="ctrl.removeAffectation(competence)"><md-icon md-font-set="material-icons" aria-label="down">remove</md-icon></md-button>
                                        </div>
                                </md-list-item>
                        </md-list>
                </md-content>
        </div>
</div>
</div>

</form>
