<form name="habiliationsConfigForm" class="configuration" flex layout="column" style="overflow: auto; height: 100%;">
        <div layout-fill ng-controller="HabilitationsCtrl as ctrl">
                <md-toolbar layout="row" layout-align="end center">
                        <h2 class="md-toolbar-tools" ncy-breadcrumb></h2>
                        <!-- <md-button class="md-raised md-warn md-hue-3 md-icon-button" ng-disabled="alerteConfigForm.param.$pristine" ng-click="vm.save(vm.alertes)"><md-icon md-font-set="material-icons">done</md-icon></md-button> -->
                </md-toolbar>
                <div layout="row">
                        <div layout="column" class="md-padding" flex>
                                <div layout="column" class="md-padding" flex="35">
                                        <md-autocomplete
                                        md-input-name="inputFormateur"
                                        md-no-cache="true"
                                        md-selected-item="ctrl.formateurSelected"
                                        md-search-text="ctrl.searchFormateur"
                                        md-search-text-change="ctrl.searchFormateurChange(ctrl.searchFormateur)"
                                        md-items="formateur in ctrl.querySearch(ctrl.searchFormateur)"
                                        md-item-text="formateur.nom"
                                        md-floating-label="Rechercher un formateur">
                                        <md-item-template>
                                                <span md-highlight-text="ctrl.searchFormateur">{{formateur.nom}} {{formateur.prenom}}</span>
                                        </md-item-template>
                                </md-autocomplete>
                                <md-content>
                                        <md-list>
                                                <md-list-item class="md-2-line" ng-repeat="formateur in ctrl.formateurs | orderBy : 'nom'" ng-click="ctrl.selectFormateur(formateur)">
                                                        <md-icon md-font-set="material-icons" class="md-avatar">person</md-icon>
                                                        <div class="md-list-item-text">
                                                                <p>{{formateur.nom}} {{formateur.prenom}}</p>
                                                        </div>
                                                        <md-divider></md-divider>
                                                </md-list-item>
                                        </md-list>
                                </md-content>
                        </div>
                        </div>
                        <div layout="column" class="md-padding" flex>
                            <md-toolbar layout="row" layout-align="end center">
                                    <p class="md-toolbar-tools">Habilitations</p>
                            </md-toolbar>
                                <md-content flex>
                                        <md-list>
                                                <md-list-item class="md-2-line" ng-class="ctrl.formateurSelected.habilitation.libelle === habilitation.libelle ? 'is-first' : ''" ng-repeat="habilitation in ctrl.habilitations" ng-click="ctrl.setHabilitation(habilitation)">
                                                        <md-icon md-font-set="material-icons" class="md-avatar">desktop_windows</md-icon>
                                                        <div class="md-list-item-text">
                                                                <p ng-bind="ctrl.getHumanRole(habilitation.libelle) | uppercase"></p>
                                                        </div>
                                                </md-list-item>
                                        </md-list>
                                </md-content>
                        </div>
                </div>

        </div>
</form>
