<form name="modulesConfigForm" layout="column" layout-fill class="configuration"  style="overflow: auto; height: 100%;" ng-controller="ModulesCtrl as ctrl">
        <div>
                <md-toolbar layout="row" layout-align="end center">
                        <h2 class="md-toolbar-tools" ncy-breadcrumb></h2>
                        <md-button  class="md-raised md-warn md-hue-3" ng-click="ctrl.newCompetence($event)">Créer une compétence</md-button>
                </md-toolbar>

        </div>
        <div layout="row">
                <div layout="column" class="md-padding" flex>
                        <md-autocomplete
                        md-input-name="inputModule"
                        md-no-cache="true"
                        md-selected-item="ctrl.selectedModule"
                        md-selected-item-change="ctrl.getModulesSpecs(module)"
                        md-search-text="ctrl.searchModule"
                        md-search-text-change="ctrl.searchModuleChange(ctrl.searchModule)"
                        md-items="module in ctrl.querySearch(ctrl.searchModule, 'module')"
                        md-item-text="module.libelle"
                        md-floating-label="Rechercher un module">
                        <md-item-template>
                                <span md-highlight-text="ctrl.searchModule">{{module.libelleCourt}} - {{module.libelle}}</span>
                        </md-item-template>
                </md-autocomplete>
                <md-content>
                        <md-list ng-cloak>
                                <md-list-item class="md-2-line" ng-repeat="module in ctrl.modules" ng-click="ctrl.getModulesSpecs(module)">
                                        <md-icon md-font-set="material-icons" class="md-avatar">view_module</md-icon>
                                        <div class="md-list-item-text">
                                                <p>{{module.libelleCourt}} - {{module.libelle}}</p>
                                        </div>
                                </md-list-item>
                        </md-list>
                </md-content>
        </div>
        <div layout="column" flex ng-show="ctrl.selectedModule">
                <md-card class="notifications" flex>
                        <md-card-header class="header">
                                <md-card-avatar>
                                        <md-icon md-font-set="material-icons" aria-label="down">swap_horiz</md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                        <md-autocomplete
                                        md-input-name="inputCompetence"
                                        md-no-cache="true"
                                        md-selected-item="ctrl.selectedCompetence"
                                        md-selected-item-change="ctrl.selectedCompetenceChange(competence)"
                                        md-search-text="ctrl.searchCompetence"
                                        md-search-text-change="ctrl.searchCompetenceChange(ctrl.searchCompetence)"
                                        md-items="competence in ctrl.querySearch(ctrl.searchCompetence, 'competence')"
                                        md-item-text="competence.libelle"
                                        md-floating-label="Ajouter une compétence">
                                        <md-item-template>
                                                <span md-highlight-text="ctrl.searchCompetence">{{competence.code | uppercase}} - {{competence.libelle | uppercase}}</span>
                                        </md-item-template>
                                </md-autocomplete>
                                </md-card-header-text>
                        </md-card-header>
                        <md-card-content layout="row" >
                                <md-content flex>
                                        <md-list class="md-dense">
                                                <md-list-item class="md-2-line" ng-repeat="competence in ctrl.competencesModule">
                                                        <md-icon md-font-set="material-icons" class="md-avatar">class</md-icon>
                                                        <div class="md-list-item-text">
                                                                <p><span class="md-body-2" ng-bind="competence.code | uppercase"></span> - <span class="md-body-2" ng-bind="competence.libelle | uppercase"></span></p>
                                                                <md-button class="md-secondary" ng-click="ctrl.removeCompetence(competence)">Enlever</md-button>
                                                        </div>
                                                </md-list-item>
                                        </md-list>
                                </md-content>
                        </md-card-content>
                </md-card>
                <md-card class="notifications" flex>
                        <md-card-header class="header">
                                <md-card-avatar>
                                        <md-icon md-font-set="material-icons" aria-label="down">swap_horiz</md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                        <md-autocomplete
                                        md-input-name="inputEquipement"
                                        md-no-cache="true"
                                        md-selected-item="ctrl.selectedEquipement"
                                        md-selected-item-change="ctrl.selectedEquipementChange(equipement)"
                                        md-search-text="ctrl.searchEquipement"
                                        md-search-text-change="ctrl.searchEquipementChange(ctrl.searchEquipement)"
                                        md-items="equipement in ctrl.querySearch(ctrl.searchEquipement, 'equipement')"
                                        md-item-text="equipement.modele"
                                        md-floating-label="Ajouter un équipement">
                                        <md-item-template>
                                                <span md-highlight-text="ctrl.searchEquipement">{{equipement.lot}} - {{equipement.modele}}</span>
                                        </md-item-template>
                                </md-autocomplete>
                                </md-card-header-text>
                        </md-card-header>
                        <md-card-content layout="row" >
                                <md-content flex>
                                        <md-list class="md-dense">
                                                <md-list-item class="md-2-line" ng-repeat="equipement in ctrl.equipementsModule">
                                                        <md-icon md-font-set="material-icons" class="md-avatar">desktop_windows</md-icon>
                                                        <div class="md-list-item-text">
                                                                <p><span class="md-body-2">Lot:</span> {{equipement.lot}} <span class="md-body-2">Modèle:</span> {{equipement.modele}}</p>
                                                                <md-button class="md-secondary" ng-click="ctrl.removeEquipement(equipement)">Enlever</md-button>
                                                        </div>
                                                </md-list-item>
                                        </md-list>
                                </md-content>
                        </md-card-content>
                </md-card>
        </div>
</div>
</form>
