<div layout="column" layout-fill ng-controller="ParametresCtrl as ctrl">
    <form name="paramConfigForm" class="configuration" >
        <md-toolbar layout="row" layout-align="end center">
            <h2 class="md-toolbar-tools" ncy-breadcrumb></h2>
            <md-button class="md-raised md-warn md-hue-3 md-icon-button" ng-click="ctrl.save(ctrl.params)"><md-icon md-font-set="material-icons">done</md-icon></md-button>
        </md-toolbar>
        <div class="md-padding">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="params in ctrl.params">
                    <div class="md-list-item-text">
                        <label flex="90" for="{{params.code}}">{{params.libelle}}</label>
                        <md-input-container class="md-secondary" flex ng-repeat="config in params.configs">
                            <label>Valeur</label>
                            <input type="number" required id="{{params.code}}" string-to-number name="{{params.code}}" ng-model="config.valeur" aria-label="Alerte value" /> <!--{{alerte.code}}-->
                            <div class="hint">{{config.unite}}</div>
                            <div ng-messages="paramConfigForm.{{params.code}}.$error">
                                <div ng-message="required">Le champs est obligatoire.</div>
                            </div>
                        </md-input-container>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </form>
</div>
