<div layout="column" layout-fill ng-controller="PisteAuditCtrl as ctrl">
    <form name="alerteConfigForm" class="configuration" >
        <md-toolbar layout="row" layout-align="end center">
            <h2 class="md-toolbar-tools " ncy-breadcrumb></h2>
        </md-toolbar>
        <md-content class="md-padding">
            <md-table-container>
        		<table md-table>
        			<thead md-head>
        			<tr md-row>
                        <th md-column md-order-by="date" md-desc class="md-column ng-isolate-scope md-numeric md-sort"><span>Date</span></th>
        				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>Utilisateur</span></th>
        				<th md-column class="md-column ng-isolate-scope md-numeric md-sort md-active"><span>Action</span></th>
        			</tr>
        			</thead>
        			<tbody md-body>
        			<tr md-row ng-repeat="trace in ctrl.pisteAudit | limitTo: ctrl.query.limit: (ctrl.query.page -1) * ctrl.query.limit">
        				<md-content>
                        <td md-cell>{{trace.date | date : 'dd/MM/yyyy HH:mm'}}</td>
        				<td md-cell>{{trace.user}}</td>
        				<td md-cell>{{trace.action}}</td>
        				</md-content>
        			</tr>
        			</tbody>
        		</table>
        	</md-table-container>
        	<md-table-pagination ng-show="ctrl.hasPisteAudit" md-limit="ctrl.query.limit" md-page="ctrl.query.page" md-limit-options="[5, 10]" md-total="{{ctrl.pisteAudit.length}}"  md-page-select></md-table-pagination>
        </md-content>
    </form>
</div>
