<form name="promotionsConfigForm" class="configuration" layout-fill layout="column" style="overflow: auto; height: 100%;" ng-controller="PromotionsCtrl as ctrl">
        <div>
                <md-toolbar layout="row" layout-align="end center">
                        <h2 class="md-toolbar-tools" ncy-breadcrumb></h2>
                </md-toolbar>
        </div>
        <div layout="row">
                <div layout="column" class="md-padding" flex>
                        <div layout="row">
                                <div layout="column" class="md-padding" flex>
                                        <md-autocomplete
                                        md-input-name="inputPromotion"
                                        md-no-cache="true"
                                        md-selected-item="ctrl.promotionSelected"
                                        md-search-text="ctrl.searchPromotion"
                                        md-search-text-change="ctrl.searchPromotionChange(ctrl.searchPromotion)"
                                        md-items="promotion in ctrl.querySearch(ctrl.searchPromotion)"
                                        md-item-text="promotion.code"
                                        md-floating-label="Rechercher une promotion">
                                        <md-item-template>
                                                <span md-highlight-text="ctrl.searchPromotion">{{promotion.code}}</span>
                                        </md-item-template>
                                </md-autocomplete>
                                <md-content>
                                        <md-list>
                                                <md-list-item class="md-2-line" ng-repeat="promotion in ctrl.promotions" ng-click="ctrl.selectPromotion(promotion)">
                                                        <md-icon md-font-set="material-icons" class="md-avatar">folder_shared</md-icon>
                                                        <div class="md-list-item-text">
                                                                <p>{{promotion.code}}</p>
                                                        </div>
                                                        <md-divider></md-divider>
                                                </md-list-item>
                                        </md-list>
                                </md-content>
                        </div>
                </div>

        </div>
        <div layout="column" class="md-padding" flex>
                <md-toolbar layout="row" layout-align="end center">
                        <p class="md-toolbar-tools">Lieux</p>
                </md-toolbar>
                <md-content flex>
                        <md-list>
                                <md-list-item class="md-2-line" ng-class="ctrl.promotionSelected.lieu.libelle === lieu.libelle ? 'is-first' : ''" ng-repeat="lieu in ctrl.lieux" ng-click="ctrl.setLieu(lieu)">
                                        <md-icon md-font-set="material-icons" class="md-avatar">place</md-icon>
                                        <div class="md-list-item-text">
                                                <p ng-bind="lieu.libelle | uppercase"></p>
                                        </div>
                                </md-list-item>
                        </md-list>
                </md-content>
        </div>
</div>
</form>
