<form name="sallesConfigForm" layout="column" layout-fill class="configuration" flex style="overflow: auto; height: 100%;" ng-controller="SallesCtrl as ctrl">
        <div layout="column" >
                        <md-toolbar layout="row" layout-align="end center">
                                <h2 class="md-toolbar-tools" ncy-breadcrumb></h2>
                                <md-button class="md-raised md-warn md-hue-3 md-icon-button" ng-disabled="!ctrl.isMaterielSelected" ng-click="ctrl.save(ctrl.materielSelected,ctrl.isNew)">
                                        <md-icon md-font-set="material-icons">done</md-icon>
                                </md-button>
                        </md-toolbar>
                        <div layout="row">
                                <div layout="column" flex="25" md-whiteframe="2">
                                        <md-select ng-model="vm.selectedLieu" aria-label="lieu" placeholder="Selectionner un lieu">
                                                <md-option ng-value="lieu"  ng-repeat="lieu in ctrl.lieux" ng-click="ctrl.selectSalles(lieu.libelle)">{{ lieu.libelle }}</md-option>
                                        </md-select>
                                        <md-content flex>
                                                <md-list class="menu-salles">
                                                        <md-list-item class="md-2-line" ng-repeat="salle in ctrl.salles" ng-click="ctrl.selectMateriels(salle)" md-ink-ripple>
                                                                {{salle.libelle}}
                                                        </md-list-item>
                                                </md-list>
                                        </md-content>
                                </div>
                                <div flex="75" layout="column">
                                        <md-toolbar class="toolbar-secondary" layout="row" layout-align="end center">
                                                <h3 class="md-toolbar-tools">{{ctrl.contentTitle}}</h3>
                                                <md-button class="md-raised md-primary md-hue-2 md-icon-button" ng-click="ctrl.addMateriel()">
                                                        <md-icon md-font-set="material-icons">add</md-icon>
                                                </md-button>
                                        </md-toolbar>
                                        <md-toolbar ng-show="ctrl.isSalleSelected" md-colors="::{background: 'grey-200'}" class="toolbar-secondary md-whiteframe-z2" layout="row" layout-align="end center">
                                                <h3 class="md-toolbar-tools">Rendre la salle indisponible</h3>
                                                <md-switch ng-model="ctrl.selectedSalle.disponibilite" class="md-warn md-hue-2" aria-label="Rendre indisponible" ng-change="ctrl.isDisponible(ctrl.selectedSalle, ctrl.selectedSalle.disponibilite)"></md-switch>
                                        </md-toolbar>
                                                <md-list ng-hide="ctrl.isMaterielSelected">
                                                        <md-list-item class="md-3-line" ng-repeat="materiel in ctrl.materiels" ng-click="ctrl.selectMateriel(materiel)">
                                                                <md-icon md-font-set="material-icons" class="md-avatar">desktop_windows</md-icon>
                                                                <div class="md-list-item-text">
                                                                        <p><span class="md-body-2">Lot:</span> {{materiel.lot}} <span class="md-body-2">Modèle:</span> {{materiel.modele}} <span class="md-body-2">Fin de garantie:</span> {{materiel.finGarantie | amDateFormat:'DD MMMM YYYY'}}</p>
                                                                        <p><span class="md-body-2">Type:</span> {{materiel.type}} <span class="md-body-2">Disque:</span> {{materiel.disque}} <span class="md-body-2">Dernier nettoyage:</span> {{materiel.dernierNettoyage | amDateFormat:'DD MMMM YYYY'}}</p>
                                                                        <md-button class="md-secondary md-raised md-warn" ng-click="ctrl.deleteEquipement(materiel)">Supprimer</md-button>
                                                                </div>
                                                                <md-divider></md-divider>
                                                        </md-list-item>
                                                </md-list>
                                                <md-content class="md-inline-form md-padding" layout="column" ng-hide="!ctrl.isMaterielSelected">
                                                        <md-card>
                                                                <md-card-header md-colors="::{background: 'blue-100'}">
                                                                        <md-card-avatar>
                                                                                <md-icon md-font-set="material-icons" aria-label="down">info_outline</md-icon>
                                                                        </md-card-avatar>
                                                                        <md-card-header-text>
                                                                                <h2 class="md-title" style="float: left">Informations générales</h2>
                                                                        </md-card-header-text>
                                                                </md-card-header>
                                                                <md-card-content layout="row" >
                                                                        <md-input-container flex>
                                                                                <label>Lot</label>
                                                                                <input type="text" ng-model="ctrl.materielSelected.lot" maxlength="4">
                                                                        </md-input-container>
                                                                        <md-input-container flex>
                                                                                <label>Type</label>
                                                                                <input type="text" ng-model="ctrl.materielSelected.type" maxlength="30">
                                                                        </md-input-container>
                                                                        <md-input-container flex>
                                                                                <label>Modèle</label>
                                                                                <input type="text" ng-model="ctrl.materielSelected.modele" maxlength="50">
                                                                        </md-input-container>
                                                                </md-card-content>
                                                        </md-card>
                                                        <md-card>
                                                                <md-card-header md-colors="::{background: 'green-100'}">
                                                                        <md-card-avatar>
                                                                                <md-icon md-font-set="material-icons" aria-label="down">desktop_windows</md-icon>
                                                                        </md-card-avatar>
                                                                        <md-card-header-text>
                                                                                <h2 class="md-title" style="float: left">Informations techniques</h2>
                                                                        </md-card-header-text>
                                                                </md-card-header>
                                                                <md-card-content layout="row" >
                                                                        <md-input-container flex>
                                                                                <label>CPU</label>
                                                                                <input type="text" ng-model="ctrl.materielSelected.cpu" maxlength="15">
                                                                        </md-input-container>
                                                                        <md-input-container flex>
                                                                                <label>RAM</label>
                                                                                <input type="text" ng-model="ctrl.materielSelected.ram" maxlength="3">
                                                                        </md-input-container>
                                                                        <md-input-container flex>
                                                                                <label>Disque</label>
                                                                                <input type="text" ng-model="ctrl.materielSelected.disque" maxlength="50">
                                                                        </md-input-container>
                                                                </md-card-content>
                                                        </md-card>
                                                        <md-card>
                                                                <md-card-header md-colors="::{background: 'blue-grey-100'}">
                                                                        <md-card-avatar>
                                                                                <md-icon md-font-set="material-icons" aria-label="down">more_horiz</md-icon>
                                                                        </md-card-avatar>
                                                                        <md-card-header-text>
                                                                                <h2 class="md-title" style="float: left">Informations complémentaires</h2>
                                                                        </md-card-header-text>
                                                                </md-card-header>
                                                                <md-card-content layout="row" >
                                                                                <label>Fin de garantie</label>
                                                                                <md-datepicker ng-model="ctrl.materielSelected.finGarantie" md-placeholder="Fin de garantie"></md-datepicker>
                                                                                <label>Dernier nettoyage</label>
                                                                                <md-datepicker ng-model="ctrl.materielSelected.dernierNettoyage" md-placeholder="Dernier nettoyage"></md-datepicker>
                                                                </md-card-content>
                                                        </md-card>
                                                </md-content>


                                        </div>
                                </div>
                        </div>
                </form>
