<md-sidenav class="md-sidenav-right md-whiteframe-4dp"
				md-disable-backdrop
				md-component-id="right">
	<md-toolbar class="md-theme-light lesson" layout="column">
		<div layout="row">
			<h1 flex class="md-toolbar-tools">{{vm.title}}</h1>
			<md-icon ng-click="vm.close()">close</md-icon>
		</div>
		<p class="subtitle" flex>{{vm.lessonStart | date :'dd-MM-yyyy'}} - {{vm.lessonEnd | date :'dd-MM-yyyy'}}</p>
	</md-toolbar>

	<md-tabs flex layout="column" layout-fill class="md-accent affectation">
		<md-tab flex layout="column" label="Affectation" >
			<md-tab-content flex layout-fill>
				<form layout ="column" novalidate>
					<md-input-container ng-if="vm.lessons.length > 1">
						<label>Cours</label>
						<md-select aria-label="Cours" class="select" ng-model="vm.coursSelected">
							<md-option ng-repeat="lesson in vm.lessons track by lesson.id" value="{{lesson.id}}">{{lesson.module.libelleCourt}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container ng-if="vm.lessons.length == 1">
						<label>Cours</label>
						<md-select aria-label="Cours" class="select" ng-model="vm.coursSelected">
							<md-option disabled selected ng-repeat="lesson in vm.lessons track by lesson.id" value="{{lesson.id}}">{{lesson.module.libelleCourt}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container>
						<label>Formateurs</label>
						<md-select aria-label="formateurs" class="select" ng-model="vm.formateurSelected">
							<md-option ng-repeat="formateur in vm.formateurs track by formateur.idFormateur" value="{{formateur.idFormateur}}">{{formateur.nom}} {{formateur.prenom}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container>
						<label>Salles</label>
						<md-select aria-label="salles" class="select" ng-model="vm.salleSelected">
							<md-option ng-repeat="salle in vm.salles track by salle.code" value="{{salle.code}}">{{salle.lieu.libelle}} - {{salle.code}}</md-option>
						</md-select>
					</md-input-container>

					<md-checkbox ng-model="vm.ecfSelected" aria-label="Ecf corrigé">
						L'ecf est corrigé
					</md-checkbox>

					<md-button class="md-raised md-primary" ng-click="vm.updateLesson()">Affecter</md-button>
				</form>
			</md-tab-content>
		</md-tab>

		<md-tab label="Alertes" layout-fill>
			<md-tab-content flex layout-fill>
				<md-list class="md-dense displayAlerts" flex>
					<md-list-item class="md-3-line alert" ng-repeat="alert in vm.alerts">
						<md-icon class="md-avatar-icon notifications warning">warning</md-icon>
						<div class="md-list-item-text" layout="column">
							<p>{{alert.description}} - {{alert.lesson.module.libelleCourt || alert.module.libelleCourt}}</p>
						</div>
					</md-list-item>
				</md-list>
			</md-tab-content>
		</md-tab>
	</md-tabs>
</md-sidenav>
