<md-dialog add-item-dialog="" role="dialog" tabindex="-1" aria-describedby="dialog_27" class="md-transition-in" style="" class="layout-column" layout="column">
	<div role="dialog" layout="column" layout-align="center center">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Nouvelle demande de congé</h2>
			</div>
		</md-toolbar>
		<form layout-margin>
			<div>
				<p>Date de début : </p>
				<div layout="row">
					<md-datepicker ng-model="vm.newTimeOff.dateStart" md-placeholder="Date début" md-open-on-focus flex></md-datepicker>
					<div layout="row">
						<md-input-container>
							<input aria-label="nb heures début" ng-model="vm.newTimeOff.hourStart" type="number" min="0" max="23">
						</md-input-container>
						<md-input-container>
							<input aria-label="nb minutes début" ng-model="vm.newTimeOff.minuteStart" type="number" min="0" max="59">
						</md-input-container>
					</div>
				</div>
			</div>
			<div>
				<p>Date de fin : </p>
				<div layout="row">
					<md-datepicker ng-model="vm.newTimeOff.dateEnd" md-placeholder="Date fin" md-open-on-focus flex></md-datepicker>
					<div layout="row">
						<md-input-container>
							<input aria-label="nb heures fin" ng-model="vm.newTimeOff.hourEnd" type="number" min="0" max="23">
						</md-input-container>
						<md-input-container>
							<input aria-label="nb minutes fin" ng-model="vm.newTimeOff.minuteEnd" type="number" min="0" max="59">
						</md-input-container>
					</div>
				</div>
			</div>
			<div>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Commentaire</label>
					<input ng-model="vm.newTimeOff.motif">
				</md-input-container>
			</div>
		</form>
	<div class="md-dialog-actions layout-row layout-align-center" layout="row">
		<button class="md-primary md-button md-ink-ripple" type="button" aria-label="Annuler" ng-click="cancelDialog()"><span>Annuler</span></button>
		<button class="md-primary md-button md-ink-ripple" type="button" aria-label="Valider" ng-click="validDialog()"><span>Valider</span></button>
	</div>
</md-dialog>

