<div layout="column" flex layout-fill>
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools" >
			<span>Demandes de congé</span>
			<div flex></div>
			<md-button class="md-hue-3 md-warn md-raised md-icon-button" aria-label="add_vacation_request" ng-click="vm.showAddVacationrequestDialog($event)">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div>
		<div layout="row">
			<p>Filtres :</p>
			<div layout="row">
				<md-datepicker ng-model="vm.filtreDateDebut" md-placeholder="Date début" md-open-on-focus ng-change="vm.refreshHolidays()"></md-datepicker>
				<md-datepicker ng-model="vm.filtreDateFin" md-placeholder="Date fin" md-open-on-focus ng-change="vm.refreshHolidays()"></md-datepicker>
			</div>
		</div>
		<md-input-container class="md-block" ng-show="vm.user.isAdmin">
			<label>Recherche par formateur</label>
			<input ng-model="vm.searchText">
		</md-input-container>
	</div>
	<md-table-container>
		<table md-table>
			<thead md-head md-order="vm.query.order">
			<tr md-row>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>Demandeur</span></th>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>Date demande</span></th>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort md-active"><span>Date début</span></th>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>Date fin</span></th>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>État</span></th>
				<th md-column><span>Commentaire</span></th>
			</tr>
			</thead>
			<tbody md-body>
			<!--<tr md-row ng-repeat="holiday in vm.holidays | filter: vm.filterByFormateur | limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit">-->
			<tr md-row ng-repeat="holiday in vm.holidays | filter: vm.filterByFormateur | limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit">
				<md-content>
				<td md-cell>{{holiday.formateur.prenom}} {{holiday.formateur.nom}}</td>
				<td md-cell>{{holiday.dateDemandeConge | date : 'dd/MM/yyyy HH:mm'}}</td>
				<td md-cell>{{holiday.dateDebutConge | date : 'dd/MM/yyyy HH:mm'}}</td>
				<td md-cell>{{holiday.dateFinConge | date : 'dd/MM/yyyy HH:mm'}}</td>
				<td md-cell layout="row" layout-align="start center" ng-if="(holiday.etatConge == vm.etatEnum.EN_ATTENTE.valeurEnum && vm.user.isAdmin)">
					<button class="md-primary md-button md-ink-ripple" type="button" aria-label="Valider" ng-click="vm.showValidationVacationrequestDialog(holiday, $event)"><span>Répondre</span></button>
				</td>
				<td md-cell ng-if="holiday.etatConge != vm.etatEnum.EN_ATTENTE.valeurEnum || !vm.user.isAdmin">{{vm.getDescriptionEtat(holiday.etatConge)}}</td>
				<td md-cell>{{holiday.motif}}</td>
				</md-content>
			</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination ng-show="vm.hasHolidays" md-limit="vm.query.limit" md-page="vm.query.page" md-limit-options="[5, 10, 15, 20]" md-total="{{vm.getCongesFiltres().length}}"  md-page-select></md-table-pagination>
</div>
