<md-dialog add-item-dialog="" role="dialog" tabindex="-1" class="md-transition-in" style="" class="layout-column" layout="column">
	<div role="dialog" layout="column" layout-align="center center">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Validation d'une demande de congé</h2>
			</div>
		</md-toolbar>
		<form layout-margin>
			<div layout="column">
				<p>Formateur : <b>{{vm.inValidationConge.formateur.prenom}} {{vm.inValidationConge.formateur.nom}}</b></p>
				<p>Début du congé : <b>{{vm.inValidationConge.dateDebutConge | date : 'dd/MM/yyyy HH:mm'}}</b></p>
				<p>Fin du congé : <b>{{vm.inValidationConge.dateFinConge | date : 'dd/MM/yyyy HH:mm'}}</b></p>
				<p>Commentaire : <b>{{vm.inValidationConge.motif}}</b></p>
			</div>
		</form>
	</div>
	<div class="md-dialog-actions layout-row layout-align-center"  layout="row">
		<button class="md-primary md-button md-ink-ripple" type="button" aria-label="Refuser" ng-click="refuseCongeDialog()"><span>Refuser</span></button>
		<button class="md-primary md-button md-ink-ripple" type="button" aria-label="Valider" ng-click="validCongeDialog()"><span>Valider</span></button>
	</div>
</md-dialog>

