<div layout="column" layout-fill flex class="swagger-ui configuration" aria-live="polite" aria-relevant="additions removals">
	<md-toolbar layout="row" layout-align="end center" flex>
		<h2 class="md-toolbar-tools" ng-bind="infos.title"></h2>
		<p ng-bind-html="infos.description"></p>
	</md-toolbar>
	<md-card flex>
		<md-card-content ng-if="infos.contact" md-colors="::{background: 'grey-100'}">
			<div ng-if="infos.contact.name" class="api-infos-contact-name"><span swagger-translate="infoContactCreatedBy" swagger-translate-value="infos.contact"></span></div>
			<div ng-if="infos.contact.url" class="api-infos-contact-url"><span swagger-translate="infoContactUrl"></span> <a href="{{infos.contact.url}}" ng-bind="infos.contact.url"></a></div>
			<a ng-if="infos.contact.email" class="api-infos-contact-url" href="mailto:{{infos.contact.email}}?subject={{infos.title}}" swagger-translate="infoContactEmail"></a>
			<div class="api-infos-license" ng-if="infos.license">
				<span swagger-translate="infoLicense"></span><a href="{{infos.license.url}}" ng-bind="infos.license.name"></a>
			</div>
		</md-card-content>
	</md-card>
	<md-content flex>
		<md-list>
			<md-list-item class="md-2-line" ng-repeat="api in resources track by $index">
				<div class="md-list-item-text" ng-include="'app/modules/shared/templates/apidoc/endpoint.tpl.html'">
				</div>
			</md-list-item>
		</md-list>
	</md-content>
	<md-card flex>
		<md-card-content md-colors="::{background: 'grey-100'}" ng-if="infos">
			[<span swagger-translate="infoBaseUrl"></span>: <span class="h4" ng-bind="infos.basePath"></span>, <span swagger-translate="infoApiVersion"></span>: <span class="h4" ng-bind="infos.version"></span>, <span swagger-translate="infoHost"></span>: <span class="h4" ng-bind="infos.scheme"></span>://<span class="h4" ng-bind="infos.host"></span>]
			<a ng-if="validatorUrl!='false'" target="_blank" href="{{validatorUrl}}/debug?url={{url}}"><img class="pull-right swagger-validator" ng-src="{{validatorUrl}}?url={{url}}"/></a>
		</md-card-content>
	</md-card>
</div>
