<md-card id="{{api.name}}" md-colors="::{background: 'grey-400'}" class="md-whiteframe-z3">
  <md-card-header ng-click="api.open=!api.open;permalink(api.name)" style="cursor: pointer">
    <md-card-avatar>
      <md-icon md-font-set="material-icons" aria-label="down" ng-if="api.open">remove</md-icon>
      <md-icon md-font-set="material-icons" aria-label="down" ng-if="!api.open">add</md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <h2 class="md-title" style="float: left" ng-bind="api.name"><span ng-if="api.description"> : <span ng-bind="api.description"></span></span></h2>
    </md-card-header-text>
  </md-card-header>
  <md-card-content id="{{api.name}}" md-colors="::{background: 'grey-200'}">
    <ul id="{{api.name}}*" class="list-inline pull-left endpoint-heading">
        <li>
            <h4>
                <a href="javascript:;" ng-click="api.open=!api.open;permalink(api.name)" ng-bind="api.name"></a>
                <span ng-if="api.description"> : <span ng-bind="api.description"></span></span>
            </h4>
        </li>
    </ul>
    <ul class="list-inline pull-right endpoint-actions">
        <li>
            <a href="javascript:;" ng-click="expand(api);permalink(api.name)" swagger-translate="endPointListOperations"></a>
        </li>
        <li>
            <a href="javascript:;" ng-click="expand(api,true);permalink(api.name+'*')" swagger-translate="endPointExpandOperations"></a>
        </li>
    </ul>
    <ul class="list-unstyled operations" ng-if="api.open">
        <li ng-repeat="op in api.operations track by $index" class="operation {{op.httpMethod}}" ng-include="'templates/operation.html'"></li>
    </ul>
  </md-card-content>
</md-card>
