<div class="md-padding" layout-fill flex layout-sm="column" ng-controller="DashboardCtrl as ctrl" ng-cloak>
    <div layout="row" layout-fill>
        <md-card class="text-center notifications" flex ng-class="overNotif ? 'md-whiteframe-z3' : ''" ng-mouseover="overNotif = true" ng-mouseleave="overNotif = false">
            <md-card-header class="header">
                <md-card-avatar>
                    <md-icon md-font-set="material-icons" aria-label="down">notifications</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <h2 class="md-title" style="float: left">Notifications</h2>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-list class="md-dense" flex>
                    <md-list-item layout="row" ng-repeat="notif in ctrl.notifications"  ng-click="ctrl.selectNotif(notif)" md-ink-ripple>
                        <md-icon class="md-avatar-icon" ng-class="vm.getNotifTheme(notif.codeAlerte)">{{vm.getNotifIconName(notif.codeAlerte)}}</md-icon>
                        <span flex></span>
                        <div class="md-list-item-text">
                            <p>{{notif.message}}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>
<!-- <div layout="row">
<md-card class="text-center">
<md-card-content>
<h1>{{ vm.title }}</h1>
<h3>{{ vm.version }}</h3>
</md-card-content>
</md-card>
<md-card class="text-center">
<md-card-content>
<h1>{{ vm.title }}</h1>
<h3>{{ vm.version }}</h3>
</md-card-content>
</md-card>
<md-card class="text-center">
<md-card-content>
<h1>{{ vm.title }}</h1>
<h3>{{ vm.version }}</h3>
</md-card-content>
</md-card>
</div> -->
</div>
