<div layout="column" layout-align="center center" layout-fill class="loading-data" ng-show="vm.loading">
	<md-progress-circular md-mode="indeterminate" md-diameter="128" class="md-warn md-hue-3"></md-progress-circular>
	<h2 class="md-accent">{{vm.loadingText}}</h2>
</div>
<ng-atomic-notify custom-template="app/modules/shared/templates/notify-atomic.tpl.html"></ng-atomic-notify>
<div ng-include="'app/modules/home/toolbar.html'"></div>
<div layout="column" class="relative" layout-fill role="main" ng-cloak>
	<div class="ng-pageslide" id="demo-fast" flex>
		<div layout="column" layout-align="start none" class="up">
			<div flex="95" ng-show="vm.filterAccess">
				<div ng-include="'app/modules/home/mainFilter.html'" ng-cloak></div>
			</div>
			<div flex="5">
				<div layout="row" layout-align="center end">
					<a id="demo-fast-close" ng-click="vm.setFilterAccess();" ng-show="vm.filterAccess">
						<md-button class="md-fab md-mini btn-floating second" aria-label="Fermeture des filtres">
							<md-icon>keyboard_arrow_up</md-icon>
						</md-button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div ui-view layout-fill flex></div>
</div>
