<div layout="row">
	<div flex="15" layout-align="start start">
		<md-fab-speed-dial class="header_filter" md-direction="Right">
			<md-fab-trigger>
				<md-button aria-label="Filtres" class="md-fab md-warn" disabled>
					<md-icon id="icon_header_filter">sort</md-icon>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button aria-label="Appliquer" class="md-fab md-raised md-mini" ng-click="vm.setFiltersSelected();">
					<md-icon class="icon_header">create</md-icon>
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>

	<div flex="85" class="frame-filters">
		<div layout="column">
			<div layout="row" layout-align="center center">

				<md-input-container flex="5">
					<label class="title-select">Années</label>
					<md-select class="select" ng-model="data.filtersSelected.year">
						<md-option ng-repeat="year in vm.years" value="{{year}}">{{year}}</md-option>
					</md-select>
				</md-input-container>

				<div flex="5" />

				<md-input-container flex="10">
					<label class="title-select">Mois</label>
					<md-select class="select" ng-model="data.filtersSelected.month">
						<md-option ng-repeat="month in vm.months" value="{{month}}">{{month}}</md-option>
					</md-select>
				</md-input-container>
				<div flex="5" />

				<md-input-container>
					<label class="title-select">Lieux</label>
					<md-select class="select" ng-model="data.filtersSelected.lieux" multiple>
						<md-option ng-repeat="lieu in data.lieux" value="{{lieu}}">{{lieu}}</md-option>
					</md-select>
				</md-input-container>

				<div flex="5" />
				<md-input-container flex="20">
					<label class="title-select">Salles</label>
					<md-select class="select" ng-model="data.filtersSelected.salles" multiple>
						<md-optgroup ng-repeat="lieuSelected in data.filtersSelected.lieux" label="{{lieuSelected}}">
							<md-option ng-repeat="salle in data.salles | filter:{lieu:{libelle:lieuSelected}}:true" value="{{salle.lieu.libelle}}-{{salle.code}}">{{salle.code}}</md-option>
						</md-optgroup>
					</md-select>
				</md-input-container>
			</div>
		</div>
		<div layout="column">
			<div layout="row" layout-align="center center">



				<md-input-container flex="20">
					<label class="title-select">Formations</label>
					<md-select class="select" ng-model="data.filtersSelected.formations" multiple>
						<md-option ng-repeat="formation in data.formations" value="{{formation}}">{{formation}}</md-option>
					</md-select>
				</md-input-container>

				<div flex="5"></div>

				<md-input-container flex="20">
					<label class="title-select">Promotions</label>
					<md-select class="select" ng-model="data.filtersSelected.promotions" multiple>
						<md-option ng-repeat="promotion in data.promotions" value="{{promotion.code}}">{{promotion.code}}</md-option>
					</md-select>
				</md-input-container>

				<div flex="5"></div>

				<md-input-container flex="20" ng-if="filtersSelected.viewPlanning ==='formateur'">
					<label class="title-select">Formateurs</label>
					<md-select class="select" ng-model="data.filtersSelected.formateurs" multiple>
						<md-option ng-repeat="formateur in data.formateurs" value="{{formateur.nom}} {{formateur.prenom}}">{{formateur.nom}} {{formateur.prenom}}</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>
	</div>
</div>
