<loading-indicator></loading-indicator>
<md-toolbar class="md-whiteframe-4dp">
	<div class="menu md-toolbar-tools">
		<div flex="35">
			<h1>
				<span>{{vm.title}}</span>
			</h1>
			<p class="subtitle" hide-xs hide-sm >{{vm.subtitle}}</p>
		</div>
		<div flex="30" layout="column" layout-align="end center" style="height: 100%;" class="down" ng-show="showSidePanel">
			<a pageslide="top" href="#demo-fast" ng-click="vm.setFilterAccess();" ng-hide="vm.filterAccess">
				<md-button class="md-fab md-mini btn-floating" aria-label="Eat cake">
					<md-icon>keyboard_arrow_down</md-icon>
				</md-button>
			</a>
		</div>
		<span flex></span>
		<div ng-click="vm.syncData()" ng-show="vm.isAuthorized(vm.syncLink.authorizedRoles)">
			<md-tooltip md-direction="bottom">
				{{vm.syncLink.tooltip}}
			</md-tooltip>
			<md-button class="md-icon-button md-acccent" aria-label="{{vm.syncLink.name}}" ng-show="vm.syncLink.icon">
				<ng-md-icon icon="{{vm.syncLink.icon}}"></ng-md-icon>
			</md-button>
		</div>

		<div ng-repeat="item in vm.menu" ng-click="vm.navigateTo('home.' + item.link)" ng-show="vm.isAuthorized(item.authorizedRoles)">
			<md-tooltip md-direction="bottom">
				{{item.tooltip}}
			</md-tooltip>

			<md-button class="md-icon-button md-acccent" aria-label="{{item.name}}" ng-class="{'active' : pageCurrent == '{{item.link}}'}" ng-show="item.icon">
				<ng-md-icon icon="{{item.icon}}"></ng-md-icon>
			</md-button>
		</div>
		<md-menu md-position-mode="target-right target" md-menu-align-target md-offset="0 50">
			<md-button class="md-icon-button md-acccent" aria-label="{{vm.notification.name}}" ng-click="vm.openNotif($mdOpenMenu, $event)">
				<ng-md-icon icon="{{vm.notification.icon}}" md-menu-origin></ng-md-icon>
				<span ng-if="vm.nbNotif > 0" ng-class="vm.notification.name === 'Notifications' ? 'badge badge--overlap' : ''" data-badge="{{vm.nbNotif}}"></span>
			</md-button>
			<md-menu-content width="5">
				<md-list class="md-dense notifications">
					<md-list-item layout="row" ng-if="vm.nbNotif === 0">
						<md-icon class="md-avatar-icon" ng-class="vm.getNotifTheme('fiche_temps')">{{vm.getNotifIconName('fiche_temps')}}</md-icon>
						<span flex></span>
						<div class="md-list-item-text">
							<p>Aucune notification</p>
						</div>
						<md-divider></md-divider>
					</md-list-item>
					<md-list-item layout="row" ng-if="vm.nbNotif > 0"  ng-repeat="notif in vm.notifications"  ng-click="ctrl.selectNotif(notif)" md-ink-ripple>
						<md-icon class="md-avatar-icon" ng-class="vm.getNotifTheme(notif.codeAlerte)">{{vm.getNotifIconName(notif.codeAlerte)}}</md-icon>
						<span flex></span>
						<div class="md-list-item-text">
							<p>{{notif.message}}</p>
						</div>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</md-menu-content>
		</md-menu>
		<md-menu md-position-mode="target-right target" md-offset="0 50">
			<md-button class="md-icon-button md-acccent" aria-label="{{item.name}}" ng-click="vm.openMenuUser($mdOpenMenu, $event)">
				<ng-md-icon icon="{{vm.userMenu.icon}}" md-menu-origin></ng-md-icon>
			</md-button>
			<md-menu-content width="4">
				<md-menu-item>
					<md-button ng-click="vm.navigateTo('home.profile')">
						<md-icon>face</md-icon>
						Profil
					</md-button>
				</md-menu-item>
				<md-menu-divider></md-menu-divider>
				<md-menu-item>
					<md-button ng-click="vm.logout()">
						<md-icon>power_settings_new</md-icon>
						Logout
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>
