<md-card class="iconpanel md-whiteframe-z3 ">
  <md-card-header class="card" ng-click="vm.show = !vm.show" style="cursor: pointer">
    <md-card-avatar>
      <md-icon md-font-set="material-icons" aria-label="down">{{vm.icon}}</md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <h2 class="md-title" style="float: left">{{vm.title}}</h2>
    </md-card-header-text>
  </md-card-header>
  <md-card-content ng-show="vm.show" class="content">
    <p style="text-align: justify">{{vm.message}}</p>
  </md-card-content>
</md-card>
