<div class="atomic-notify">
    <div class="atomic-notify-item" ng-repeat="item in items" ng-class="discoverClass(item)">
        <div class="icon" ng-if="item.icon">
            <md-icon md-font-set="material-icons" aria-label="down">{{item.icon}}</md-icon>
        </div>
        <div class="body">
            <p>{{item.text}}</p>
        </div>
        <button type="button" class="close" ng-click="dismiss(item)">&times;</button>
    </div>
</div>
