<div layout="row" flex layout-fill class="settings"  ng-cloak>
    <md-button class="md-raised md-accent md-icon-button md-nav" layout="column" ng-hide="vm.isOpenLeft()" hide-gt-md ng-click="vm.toggleSidenav()"><md-icon md-font-set="material-icons">chevron_right</md-icon></md-button>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools header">{{vm.init.pageTitle}}</h1>
        </md-toolbar>
        <div ng-controller="SidenavCtrl as side" flex>
            <md-tabs md-selected="selectedIndexInteger" md-stretch-tabs="always" layout-fill>
                <md-tab label="{{itemTab.name}}"  md-on-select="" md-on-deselect="" ng-repeat="itemTab in side.tabMenu">
                    <md-tab-label>
                        {{itemTab.name}}
                    </md-tab-label>
                    <md-tab-body>
                        <md-list class="menu-settings" >
                            <md-list-item ng-repeat="item in itemTab.items" ng-click="side.navigateTo(item.url); vm.getData(item.url)" >
                                <p>{{item.name}}</p>
                                <md-icon class="md-secondary" md-font-set="material-icons">play_arrow</md-icon>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </md-sidenav>

    <div ui-view layout="column" flex>
    </div>
</div>
