<div class="md-padding" flex layout-sm="column">
    <md-card class="text-center profile" flex ng-class="countNotif ? 'md-whiteframe-z3' : ''">
        <md-card-header class="header">
            <md-card-avatar>
                <md-icon md-font-set="material-icons" aria-label="down">person</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <h2 class="md-title" style="float: left">Profil de l'utilisateur: {{vm.user.firstName}} {{vm.user.lastName}}</h2>
            </md-card-header-text>
        </md-card-header>
        <md-card-content layout="row">
            <md-card class="text-center" flex ng-class="countNotif ? 'md-whiteframe-z3' : ''">
                <md-card-header class="">
                    <md-card-avatar>
                        <md-icon md-font-set="material-icons" aria-label="down">info</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <h2 class="md-title" style="float: left">Informations</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <md-list class="md-dense" flex>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p>ID : <span ng-bind="vm.user.id"></span></p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p>Nom : <span ng-bind="vm.user.firstName"></span></p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p>Prénom : <span ng-bind="vm.user.lastName"></span></p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p>E-mail : <span ng-bind="vm.user.email"></span></p>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p>Identifiant : <span ng-bind="vm.user.login"></span></p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
            <md-card class="text-center " flex ng-class="countNotif ? 'md-whiteframe-z3' : ''">
                <md-card-header class="">
                    <md-card-avatar>
                        <md-icon md-font-set="material-icons" aria-label="down">lock</md-icon>
                    </md-card-avatar>
                    <md-card-header-text>
                        <h2 class="md-title" style="float: left">Habilitation</h2>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <md-list class="md-dense" flex>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p><span ng-bind="vm.getHumanRole(vm.user.userRoles.libelle) | uppercase"></span></p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </md-card-content>
    </md-card>
</div>
