<div layout="column" layout-align="center center" layout-fill class="loading-data">
	<md-progress-circular md-mode="indeterminate" md-diameter="128" class="md-warn md-hue-3"></md-progress-circular>
</div>
