/* OPALE css stylesheet */
h1 {
  color: #0D47A1;
}
label {
  color: #000000;
}
.breadcrumb {
  padding: 0 56px;
}
.breadcrumb ul {
  list-style-type: none;
}
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}
ng-atomic-notify {
  z-index: 999;
}
.atomic-notify .atomic-notify-item .icon {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.atomic-notify .atomic-notify-item .icon > md-icon {
  width: 20px;
  font-size: 30px;
  color: #FFFFFF;
}
.atomic-notify .atomic-notify-item .body {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 20px 20px 10px;
}
.atomic-notify .atomic-notify-item {
  display: table;
  position: relative;
  margin: 40px auto 0;
  width: 500px;
  background-color: #42A5F5;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0px;
}
.atomic-notify .atomic-notify-warning {
  background-color: #FFA726;
}
.atomic-notify .atomic-notify-error {
  background-color: #EF5350;
}
.atomic-notify .atomic-notify-success {
  background-color: #66BB6A;
}
.notifications .header {
  background-image: url(../images/bg_notifHeader.png);
  background-color: #FFCC80;
}
.notifications .info,
.notifications .info:active {
  background-color: #90CAF9;
}
.notifications .info:hover,
.notifications .info:focus {
  background-color: #42A5F5;
}
.notifications .warning,
.notifications .warning:active {
  background-color: #FFCC80;
}
.notifications .warning:hover,
.notifications .warning:focus {
  background-color: #FFA726;
}
.notifications .error,
.notifications .error:active {
  background-color: #ef9a9a;
}
.notifications .error:hover,
.notifications .error:focus {
  background-color: #EF5350;
}
.notifications .success,
.notifications .success:active {
  background-color: #A5D6A7;
}
.notifications .success:hover,
.notifications .success:focus {
  background-color: #66BB6A;
}
.notifications:hover .header {
  background-image: url(../images/bg_notifHeader-hover.png);
  background-color: #FFA726;
}
.stats .header {
  background-image: url(../images/bg_statHeader.png);
  background-color: #B0BEC5;
}
.stats:hover .header {
  background-image: url(../images/bg_statHeader-hover.png);
  background-color: #B0BEC5;
}
.iconpanel .card {
  color: #FFFFFF;
  background-image: url(../images/bg_menu.png);
}
.iconpanel .content {
  background-color: #42A5F5;
}
.loading-page {
  position: absolute;
  z-index: 999;
}
/* TOOLBAR */
.menu.md-toolbar-tools {
  z-index: 0;
  position: fixed;
  background-image: url(../images/bg_menu.png);
}
.menu.md-toolbar-tools h1,
.menu.md-toolbar-tools p.subtitle,
.menu.md-toolbar-tools .md-icon-button.md-acccent.md-button.md-ink-ripple {
  color: #FFFFFF;
}
.menu.md-toolbar-tools h1 {
  font-size: 30px;
  margin-top: 5px;
}
.menu.md-toolbar-tools p.subtitle {
  font-size: 12px;
  margin-top: 0;
  margin-left: 2px;
}
.menu.md-toolbar-tools .md-icon-button.md-acccent.md-button.md-ink-ripple:focus,
.menu.md-toolbar-tools .md-icon-button.md-acccent.md-button.md-ink-ripple:hover,
.menu.md-toolbar-tools .md-icon-button.md-acccent.md-button.md-ink-ripple:active {
  background-color: #00BFFF;
}
.menu.md-toolbar-tools .badge {
  position: relative;
  white-space: nowrap;
  margin-right: 24px;
}
.menu.md-toolbar-tools .badge:not([data-badge]) {
  margin-right: auto;
}
.menu.md-toolbar-tools .badge[data-badge]:after {
  content: attr(data-badge);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -11px;
  right: -24px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #AEEA00;
  color: #0D47A1;
}
.menu.md-toolbar-tools .button .badge[data-badge]:after {
  top: -10px;
  right: -5px;
}
.menu.md-toolbar-tools .badge.badge--no-background[data-badge]:after {
  color: #AEEA00;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 1px gray;
}
.menu.md-toolbar-tools .badge.badge--overlap {
  margin-right: 10px;
}
.menu.md-toolbar-tools .badge.badge--overlap:after {
  right: 4px;
  top: -8px;
}
/* ANIMATION FRAME FILTER */
.ng-hide-remove {
  opacity: 0;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}
.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.1s;
  -moz-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
}
.ng-hide-add.ng-hide-add-active {
  -webkit-animation-name: fadeOut;
  -webkit-transition: 0.1s linear all;
  -moz-animation-name: fadeOut;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  opacity: 0;
}
/* Needed for hiding crollbars when pushing */
html {
  overflow-x: hidden;
}
.ng-pageslide {
  background: #FAFBCB;
  top: 64px !important;
  z-index: 0 !important;
}
body.ng-pageslide-body-open::before {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  background-color: #000000;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 1s;
  opacity: 0.5;
  pointer-events: all;
}
md-input-container md-select {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  display: block;
  background: none;
  padding: 11px 0px 2px 1px;
  border-width: 0 0 1px 0;
  line-height: 26px;
  -ms-flex-preferred-size: 26px;
  border-radius: 0;
  margin: 0;
}
.select-wrapper .select-dropdown {
  font-size: 13px;
  color: #37474F;
}
.select-wrapper .dropdown-content.select-dropdown.multiple-select-dropdown.active {
  width: 140% !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 13px;
}
.md-input-has-value md-select {
  padding: 0px 0px 2px 1px;
}
.md-fab.md-mini.md-button.ng-isolate-scope.md-ink-ripple {
  margin: 0;
  top: 40px;
  line-height: 56px;
}
.md-button.md-fab.md-mini.btn-floating {
  background-color: #AEEA00;
}
.md-button.md-fab.md-mini.btn-floating:hover {
  background-color: #AEEA00;
}
.md-button.md-fab.md-mini.btn-floating.second,
.md-button.md-fab.md-mini.btn-floating.second:hover {
  background-color: #B45F04;
}
.column-filters {
  height: 200px;
}
.up {
  height: 200px;
}
.up .btn-floating {
  margin: 0;
  top: -12px;
}
.down {
  height: 100%;
}
.down .btn-floating {
  top: 15px;
  position: relative;
  z-index: 999;
}
.frame-filters {
  margin-top: 25px;
}
.frame-filters .title-select {
  font-size: 13px;
}
.frame-filters .select {
  font-size: 11px;
}
.md-text {
  display: inline;
}
.md-select-value div {
  display: inline;
}
.header_filter .md-fab.md-warn.md-button.md-ink-ripple {
  background-color: #b94d1a;
}
.header_filter .md-fab.md-warn.md-button.md-ink-ripple:hover {
  background-color: #b94d1a;
}
.header_filter .md-fab.md-warn.md-button.md-ink-ripple #icon_header_filter {
  height: auto;
}
.header_filter .md-fab.md-raised {
  background-color: #f8ebbc;
}
.header_filter .md-fab.md-raised .icon_header {
  height: auto;
  font-size: 22px;
  color: #B45F04;
  margin: auto;
}
::-webkit-input-placeholder {
  color: #37474F;
}
:-moz-placeholder {
  color: #37474F;
  opacity: 1;
}
::-moz-placeholder {
  color: #37474F;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #37474F;
}
.loading-data {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: #AEEA00;
}
table.lesson {
  table-layout: fixed;
  width: 100%;
}
table.lesson caption {
  text-align: left;
  font-size: 35px;
  font-family: "Trebuchet MS", Verdana, Geneva, Arial;
}
table.lesson thead tr th {
  text-align: center;
}
table.lesson thead tr th.hide_th {
  visibility: hidden;
  border: none;
}
table.lesson thead tr th.hide_th.lieu {
  width: 3%;
}
table.lesson thead tr th.hide_th.promotion {
  width: 7%;
}
table.lesson thead tr.weeks th.week {
  color: #FFFFFF;
  background-color: #2E9AFE;
}
table.lesson thead tr.weeks th.week .number-week {
  font-size: 13px;
  font-weight: bolder;
}
table.lesson thead tr.weeks th.week .date-week {
  font-size: 11px;
}
table.lesson tbody tr.module td {
  background-color: #E0F2F7;
  text-align: center;
}
table.lesson tbody tr.module td.lieu_module {
  width: 40px;
  font-size: 14px;
  line-height: 27px;
}
table.lesson tbody tr.module td.lieu_module p {
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
table.lesson tbody tr.module td.promotion {
  width: 10%;
  font-size: 11px;
  color: #FFFFFF;
  background-color: #2E9AFE;
  font-weight: bold;
}
table.lesson tbody tr.module td.lieu_module {
  width: 10%;
  font-size: 13px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #2E9AFE;
}
table.lesson tbody tr.module td.content {
  background-color: #b3d3f1;
  font-size: 11px;
}
table.lesson tbody tr.module td.content.demande {
  background-image: url(../images/bg_profileHeader.png);
}
table.lesson tbody tr.module td.content.valide {
  background-image: url(../images/bg_notifHeader.png);
}
table.lesson tbody tr.module td.content.facture {
  background-image: url(../images/bg_notifHeader.png);
}
table.lesson tbody tr.module td.content .header-content .number_classroom {
  width: 60px;
  height: 25px;
  background-color: #FFFFFF;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  line-height: 25px;
  padding-right: 8px;
  text-align: center;
  font-size: 11px;
}
table.lesson tbody tr.module td.content .header-content i.update_module {
  background-color: #01579b;
  color: #9FC6FF;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset, 0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}
table.lesson tbody tr.module td.content .header-content i.update_module:hover,
table.lesson tbody tr.module td.content .header-content a.active .update_module {
  color: #e5d3f0;
  background-color: #b069dc;
  border-radius: 20px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
  cursor: pointer;
}
table.lesson tbody tr.module td.content .body-content {
  color: #37474F;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin: 10px 0;
}
table.lesson tbody tr.module td.content .body-content .title {
  vertical-align: middle;
}
table.lesson tbody tr.module td.content .body-content .warning {
  vertical-align: sub;
  color: #ef9a9a;
  font-size: 16px;
}
table.lesson tbody tr.module td.content .body-content .statut_formateur {
  padding: 0;
  vertical-align: sub;
  font-size: 16px;
  color: #37474F;
}
table.lesson tbody tr.module td.content .footer-content,
table.lesson tbody tr.module td.content .header-content {
  width: 100%;
  height: 25px;
}
table.lesson tbody tr.module td.content .footer-content {
  font-size: 9px;
}
table.lesson tbody tr.module td.content .footer-content .content-formateur {
  margin: 0;
  width: auto;
  height: 25px;
  background-color: #FFFFFF;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  line-height: 25px;
  padding-right: 8px;
  text-align: center;
}
table.lesson tbody tr.module td.content .footer-content .content-formateur .username {
  margin-left: 5px;
}
table.lesson tbody tr.module td.content .person-icon {
  margin-right: 0;
  background-color: #B0BEC5;
  color: #585858;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  float: left;
}
table.lesson tbody tr.module td.content .conge {
  background-image: url(../images/bg_statHeader.png);
  border: 1px solid #B0BEC5;
}
table.lesson tbody tr.module td.content .conge .body-content .scheduler {
  font-style: italic;
  font-size: 10px;
}
.count_module,
.count_module,
.update_module {
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  float: left;
  font-size: 11px;
  text-align: center;
}
.count_module.remaining,
.count_module.remaining,
.update_module.remaining {
  background-color: #AEEA00;
  float: right;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.count_module.trainees,
.count_module.trainees,
.update_module.trainees {
  background-color: #AEEA00;
}
.menu_content_lesson_multiple {
  padding: 0;
}
.menu_content_lesson_multiple .header {
  background-color: #01579b;
}
.menu_content_lesson_multiple .header .title {
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_content_lesson_multiple md-menu-item.subHeader {
  height: 30px;
  min-height: 30px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.menu_content_lesson_multiple md-menu-item.subHeader span {
  margin-top: 10px;
  margin-bottom: 0;
}
.menu_content_lesson_multiple md-menu-item.item.ng-scope {
  text-align: center;
}
.menu_content_lesson_multiple .item {
  font-size: 12px;
}
.menu_content_lesson_multiple .item .lessonMultiple {
  font-weight: bold;
}
.menu_content_lesson_multiple .item .lessonMultiple_date {
  font-weight: normal;
}
.update_module {
  float: right;
}
.material-icons.md-15 {
  font-size: 15px;
}
.md-sidenav-right,
.md-sidenav-backdrop {
  position: fixed;
  top: 64px;
}
.ac-container {
  width: 100%;
}
.ac-container .display-filters {
  z-index: 0;
  position: relative;
}
.ac-container .display-filters label.background,
.ac-container .display-filters label.background:hover {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.ac-container .display-filters .ac-small {
  overflow: auto;
}
.ac-container .display-filters .ac-small md-tabs .md-tab {
  font-weight: 700;
}
.ac-container .display-filters .ac-small md-tabs .md-tab.md-active {
  color: #b069dc;
  font-weight: 700;
}
.ac-container .display-filters .ac-small .collapsible-body {
  margin-left: 10px;
  height: 100%;
}
.ac-container .display-filters .ac-small .collapsible-body .filters {
  margin-top: 10px;
  margin-left: 10px;
  height: 75px;
}
.ac-container .display-filters .ac-small .collapsible-body .filters .chip {
  background-color: #e5d3f0;
  font-size: 13px;
  font-weight: 900;
  margin: 0 1px;
}
.ac-container .display-filters .ac-small .collapsible-body .grpView {
  font-size: 16px;
  margin: 20px 0;
  padding: 3px 15px 3px 15px;
  color: #312e2e;
  background-color: #e5d3f0;
  text-transform: none;
  font-weight: 400;
  min-width: 100px;
  font-size: 13px;
}
.ac-container .display-filters .ac-small .collapsible-body .grpView.active {
  background-color: #b069dc;
  color: white;
  font-weight: 900;
}
.ac-container .display-filters .ac-small .collapsible-body .md-button.left {
  border-radius: 10px 0 0 10px;
}
.ac-container .display-filters .ac-small .collapsible-body .md-button.middle {
  border-radius: 0;
  border-left: 1px solid rgba(230, 230, 230, 0.96);
  border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.ac-container .display-filters .ac-small .collapsible-body .md-button.right {
  border-radius: 0 10px 10px 0;
}
.ac-container .display-filters .ac-small .collapsible-body .md-button:not([disabled]):hover {
  background-color: #b069dc;
  color: white;
  font-weight: 900;
  transition: 0.3s;
}
.ac-container .display-filters .ac-small .collapsible-body .md-button:active {
  background-color: #b069dc;
  color: white;
  font-weight: 900;
}
.ac-container .display-filters input:checked + label.background {
  background-color: #e5d3f0;
}
.ac-container .display-filters label.background {
  background: white;
  border: none;
  height: 40px;
}
.ac-container .display-filters label.background .md-fab.md-mini {
  background-color: #b069dc;
  margin: 0;
  line-height: 0;
  z-index: 0;
}
.ac-container .display-filters label.background .md-fab.md-mini i {
  line-height: 15px;
}
.ac-container .display-filters .ac-small .chips-title {
  font-size: 13px;
  font-weight: bold;
}
.ac-container .display-filters .ac-small .md-chips.md-readonly {
  box-shadow: none;
}
.ac-container .display-filters .ac-small md-chip {
  font-size: 11px;
}
/** SIDE BAR */
.md-theme-light.lesson {
  background-color: #2E9AFE;
}
.md-theme-light.lesson .md-toolbar-tools {
  color: white;
}
.md-theme-light.lesson md-icon {
  cursor: pointer;
  color: white;
}
.md-theme-light.lesson .subtitle {
  font-size: 16px;
  margin: 0;
  padding-left: 16px;
  color: white;
}
.displayAlerts md-list-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin-bottom: 4%;
}
.displayAlerts .md-avatar-icon.notifications.warning {
  background-color: #ef9a9a;
  color: #585858;
}
.displayAlerts .md-avatar-icon.notifications.warning.material-icons {
  margin-top: 25px;
}
md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}
md-tab-content,
md-sidenav {
  overflow: hidden;
}
.affectation md-tabs-canvas {
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2E9AFE;
}
.affectation .md-raised.md-primary {
  font-weight: bold;
  color: #FFFFFF;
}
.settings .md-toolbar-tools {
  color: #FFFFFF;
  list-style-type: none;
}
.settings md-list-item .md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
  margin: 0;
}
.settings button.md-nav {
  position: absolute;
  float: left;
  top: 8px;
  left: 8px;
  z-index: 999;
  margin: 0;
}
.settings .header {
  background-image: url(../images/bg_header.png);
}
/* CONFIGURATION */
.configuration {
  font-size: 0.8em;
  /** BOX STYLING **/
}
.configuration label {
  line-height: 45px;
}
.configuration md-input-container label {
  line-height: normal;
}
.configuration div input {
  height: 30px;
}
.configuration .row-form {
  padding: 0 1.2em 0 1.2em;
}
.configuration .row-form:hover {
  background-color: #ececec;
}
.configuration .bottom-bordered {
  border-bottom: 1px solid;
}
.configuration md-autocomplete[md-floating-label] md-autocomplete-wrap {
  height: 70px;
}
.configuration md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline {
  bottom: 16px;
}
.configuration .is-first {
  background-color: #AEEA00;
}
md-toolbar.toolbar-secondary {
  background-color: #9FC6FF;
}
md-toolbar.toolbar-secondary .md-toolbar-tools {
  color: #000000;
}
/* LOGIN */
.login {
  background-image: url(../images/logo.png), url(../images/bg_light.png);
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: bottom right, right;
}
.login md-card-header {
  background-image: url(../images/bg_header.png);
  background-color: #0D47A1;
}
.login md-card-header h1 {
  color: #FFFFFF;
}
.login .md-button {
  top: -8px;
  left: 8px;
}
.profile .header {
  background-image: url(../images/bg_profileHeader.png);
  background-color: #B0BEC5;
}
.profile:hover .header {
  background-image: url(../images/bg_profileHeader-hover.png);
  background-color: #B0BEC5;
}
