<div layout="column" flex layout-fill>
	<md-toolbar class="md-table-toolbar md-default">
		<div class="md-toolbar-tools">
			<span>Fiche de temps</span>
			<div flex></div>
			<md-button class="md-hue-3 md-warn md-raised md-icon-button" aria-label="add_vacation_request" ng-click="">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<div ng-show="vm.isAdmin()">
		<div layout="row">
			<p>Filtres :</p>
		</div>
		<md-input-container class="md-block">
			<label>Recherche par formateur</label>
			<input ng-model="vm.searchText">
		</md-input-container>
	</div>
	<md-table-container>
		<table md-table>
			<thead md-head md-order="vm.query.order">
			<tr md-row>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>Formateur</span></th>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>Mois</span></th>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort md-active"><span>Année</span></th>
				<th md-column class="md-column ng-isolate-scope md-numeric md-sort"><span>Validé</span></th>
			</tr>
			</thead>
			<tbody md-body>
			<tr md-row ng-repeat="timesheet in vm.timesheets | filter: vm.filterByFormateur | limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit">
				<md-content>
					<td md-cell>{{timesheet.formateur.prenom}} {{timesheet.formateur.nom}}</td>
					<td md-cell>{{timesheet.moisFicheTemps}}</td>
					<td md-cell>{{timesheet.moisFicheTemps}}</td>
					<td md-cell>{{timesheet.valide?'Oui':'Non'}}</td>
				</md-content>
			</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination ng-show="vm.hasHolidays" md-limit="vm.query.limit" md-page="vm.query.page" md-limit-options="[5, 10, 15, 20]" md-total="{{vm.getFicheTempsFiltres().length}}"  md-page-select></md-table-pagination>
</div>
