/* OPALE css stylesheet */
h1 {
  color: @color-blue-900;
}

label {
  color : #000000;
}

.breadcrumb {
  padding: 0 56px;
}

.breadcrumb ul{
  list-style-type: none;
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

ng-atomic-notify {
  z-index: 999;
}

.atomic-notify {
  .atomic-notify-item .icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .atomic-notify-item .icon > md-icon {
    width: 20px;
    font-size: 30px;
    color: #FFFFFF;
  }

  .atomic-notify-item .body {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 20px 20px 10px;
  }

  .atomic-notify-item {
    display: table;
    position: relative;
    margin: 40px auto 0;
    width: 500px;
    background-color: @color-blue-400;
    color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0px;
  }

  .atomic-notify-warning {
    background-color: @color-orange-400;
  }

  .atomic-notify-error {
    background-color: @color-red-400;
  }

  .atomic-notify-success {
    background-color: @color-green-400;
  }
}

.notifications {

  .header {
    background-image: url(../images/bg_notifHeader.png);
    background-color: @color-orange-200;
  }

  .info, .info:active {
    background-color: @color-blue-200;
  }
  .info:hover, .info:focus {
    background-color: @color-blue-400;
  }

  .warning, .warning:active {
    background-color: @color-orange-200;
  }
  .warning:hover, .warning:focus {
    background-color: @color-orange-400;
  }

  .error, .error:active {
    background-color: @color-red-200;
  }

  .error:hover, .error:focus {
    background-color: @color-red-400;
  }

  .success, .success:active {
    background-color: @color-green-200;
  }

  .success:hover, .success:focus {
    background-color: @color-green-400;
  }
}

.notifications:hover {
  .header {
    background-image: url(../images/bg_notifHeader-hover.png);
    background-color: @color-orange-400;
  }
}

.stats {
  .header {
    background-image: url(../images/bg_statHeader.png);
    background-color: @color-grey-200;
  }
}

.stats:hover {
  .header {
    background-image: url(../images/bg_statHeader-hover.png);
    background-color: @color-grey-200;
  }
}

.iconpanel {
  .card{
    color: @color-white;
    background-image: url(../images/bg_menu.png);
  }
  .content {
    background-color: @color-blue-400;
  }
}
