/* LOGIN */

.login {
  background-image: url(../images/logo.png), url(../images/bg_light.png);
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: bottom right, right;

  md-card-header {
    background-image: url(../images/bg_header.png);
    background-color: @color-blue-900;
    h1 {
      color: #FFFFFF;
    }
  }
  md-card-content {

  }

  .md-button {
    top: -8px;
    left: 8px;
  }
}
