.loading-page {
	position: absolute;
	z-index: 999;
}
/* TOOLBAR */
.menu.md-toolbar-tools {
	z-index: 0;
	position: fixed;
	background-image: url(../images/bg_menu.png);

	h1, p.subtitle,.md-icon-button.md-acccent.md-button.md-ink-ripple{
		color: @color-white;
	}

	h1 {
		font-size: 30px;
		margin-top: 5px;
	}

	p.subtitle {
		font-size: 12px;
		margin-top:0;
		margin-left: 2px;
	}

	.md-icon-button.md-acccent.md-button.md-ink-ripple{
		&:focus,&:hover,&:active{
			background-color: @color-blue2;
		}
	}

	.badge {
		position: relative;
		white-space: nowrap;
		margin-right: 24px
	}

	.badge:not([data-badge]) {
		margin-right: auto
	}

	.badge[data-badge]:after {
		content: attr(data-badge);
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		position: absolute;
		top: -11px;
		right: -24px;
		font-family: "Roboto","Helvetica","Arial",sans-serif;
		font-weight: 600;
		font-size: 12px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: @color-green;
		color: @color-blue-900;
	}

	.button .badge[data-badge]:after {
		top: -10px;
		right: -5px
	}

	.badge.badge--no-background[data-badge]:after {
		color: @color-green;
		background: rgba(255,255,255,.2);
		box-shadow: 0 0 1px gray
	}

	.badge.badge--overlap {
		margin-right: 10px
	}

	.badge.badge--overlap:after {
		right: 4px;
		top: -8px;
	}
}

/* ANIMATION FRAME FILTER */
.ng-hide-remove {
	opacity: 0;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	&.ng-hide-remove-active {
		-webkit-animation-duration: 0.1s;
		-webkit-animation-fill-mode: both;
		-moz-animation-duration: 0.1s;
		-moz-animation-fill-mode: both;
		-webkit-animation-name: fadeIn;
		-moz-animation-name: fadeIn;
	}
}

.ng-hide-add.ng-hide-add-active {
	-webkit-animation-name: fadeOut;
	-webkit-transition: 0.1s linear all;
	-moz-animation-name: fadeOut;
	-moz-transition: 0.1s linear all;
	transition: 0.1s linear all;
	opacity: 0;
}

/* Needed for hiding crollbars when pushing */
html {
	overflow-x: hidden;
}
.ng-pageslide {
	background: @color-brown3;
	top:64px !important;
	z-index: 0 !important;
}
body.ng-pageslide-body-open::before {
	content: '.';
	display: block;
	position: absolute;
	top: 0;
	background-color: rgb(0,0,0);
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
	transition: opacity 1s;
	opacity: 0.5;
	pointer-events: all;
}

md-input-container md-select {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	display: block;
	background: none;
	padding: 11px 0px 2px 1px;
	border-width: 0 0 1px 0;
	line-height: 26px;
	-ms-flex-preferred-size: 26px;
	border-radius: 0;
	margin: 0;
}

.select-wrapper {
	.select-dropdown {
		font-size: @size-13;
		color: @color-grey-800;
	}
	.dropdown-content.select-dropdown.multiple-select-dropdown.active{
		width: 140% !important;
	}
}

.dropdown-content li>a, .dropdown-content li>span {
	font-size: @size-13;
}

.md-input-has-value md-select {
	padding: 0px 0px 2px 1px;
}
.md-fab.md-mini.md-button.ng-isolate-scope.md-ink-ripple{
	margin: 0;
	top: 40px;
	line-height: 56px;
}

.md-button.md-fab.md-mini.btn-floating{
	background-color: @color-green;
	&:hover{
		background-color: @color-green;
	}
	&.second,&.second:hover {
		background-color: @color-brown;
	}
}

.column-filters{
	height: 200px;
}
.up{
	.column-filters;
	.btn-floating{
		margin: 0;
		top:-12px;
	}
}

.down {
	height:100%;
	.btn-floating{
		top: 15px;
		position: relative;
		z-index: 999;
	}
}

.frame-filters {
	margin-top:25px;
	.title-select{
		font-size: @size-13;
	}
	.select{
		font-size: @size-11;
	}
}
.md-text {
    display: inline;
}

.md-select-value {
	div {
		display: inline;
	}
}

.header_filter {
	.md-fab.md-warn.md-button.md-ink-ripple {
		background-color: @color-brown2;
		&:hover{
			background-color: @color-brown2;
		}
		#icon_header_filter{
			height: auto;
		}
	}
	.md-fab.md-raised{
		background-color:@color-brown4;
		.icon_header{
			height: auto;
			font-size: 22px;
			color:@color-brown;
			margin: auto;
		}
	}
}

::-webkit-input-placeholder {
	color: @color-grey-800;
}
:-moz-placeholder {
	color: @color-grey-800;
	opacity:  1;
}
::-moz-placeholder {
	color: @color-grey-800;
	opacity:  1;
}
:-ms-input-placeholder {
	color: @color-grey-800;
}

.loading-data {
	position: absolute;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, .5);
	z-index: 999;
	color: @color-green;
}

;
