.design_header(){
	color:@color-white;
	background-color: @color-blue3;
	//background-image: url(../images/bg_header.png);
}

table.lesson {
	table-layout: fixed;
	width: 100%;
	caption{
		text-align: left;
		font-size: 35px;
		font-family: "Trebuchet MS", Verdana, Geneva, Arial;;
	}
	thead tr {
		th {
			text-align: center;
			&.hide_th{
				visibility: hidden;
				border:none;
				&.lieu{
					width: 3%;
				}
				&.promotion{
					width: 7%;
				}

			}
		}
		&.weeks th.week{
			.design_header();
			.number-week{
				font-size: @size-13;
				font-weight: bolder;
			}
			.date-week{
				font-size: @size-11;
			}
		}
	}


	tbody tr.module {
		td{
			background-color: @color-blue5;
			text-align: center;
			&.lieu_module{
				width:40px;
				font-size: 14px;
				line-height: 27px;
				p{
					-ms-transform:rotate(270deg);
					-moz-transform:rotate(270deg);
					-webkit-transform:rotate(270deg);
					-o-transform:rotate(270deg);
				}
			}
			&.promotion{
				width: 10%;
				font-size: @size-11;
				.design_header();
				font-weight: bold;
			}
			&.lieu_module{
				width: 10%;
				font-size: @size-13;
				font-weight: bolder;
				text-transform: uppercase;
				.design_header();
			}
			&.content{
				background-color:@color-blue6;
				font-size:@size-11;
				&.demande{
					background-image: url(../images/bg_profileHeader.png);
				}
				&.valide{
					background-image: url(../images/bg_notifHeader.png);
				}
				&.facture{
					background-image: url(../images/bg_notifHeader.png);
				}
				.header-content{
					.number_classroom {
						width: 60px;
						height: 25px;
						background-color: @color-white;
						-moz-border-radius: 70px;
						-webkit-border-radius: 70px;
						border-radius: 70px;
						line-height: 25px;
						padding-right: 8px;
						text-align: center;
						font-size:11px;
					}

					i.update_module{
						background-color: @color-blue;
						color:@color-blue4;
						border-radius:20px;
						box-shadow:
							0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
							0px 2px 2px 0px rgba(255, 255, 255, 0.5);
					}

					i.update_module:hover,a.active .update_module{
						color:@color-purple;
						background-color:@color-purple2;
						border-radius:20px;
						box-shadow:
							0px 2px 2px 0px rgba(0, 0, 0, 0.5),
							0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;
						cursor: pointer;
					}
				}

				.body-content {
					color: @color-grey-800;
					text-transform: uppercase;
					font-weight: bold;
					width: 100%;
					margin:10px 0;
					.title{
						vertical-align: middle;
					}
					.warning{
						vertical-align: sub;
						color: @color-red-200;
						font-size: 16px;
					}
					.statut_formateur{
						padding: 0;
						vertical-align: sub;
						font-size: 16px;
						color: @color-grey-800;
					}
				}
				.footer-content,.header-content {
					width: 100%;
					height: 25px;
				}
				.footer-content{
					font-size:@size-9;
					.content-formateur{
						background-color:@color-white;
						height: 25px;
						line-height: 25px;
						margin: 0;
						width: auto;
						height: 25px;
						background-color: @color-white;
						-moz-border-radius: 70px;
						-webkit-border-radius: 70px;
						border-radius: 70px;
						line-height: 25px;
						padding-right: 8px;
						text-align: center;
						.username{
							margin-left:5px;
						}
					}
				}
				.person-icon {
					width: 25px;
					height: 25px;
					margin-right: 0;
					background-color: @color-grey-200;
					color:@color-grey;
					.circle;
					float:left;
				}

				.conge{
					background-image: url(../images/bg_statHeader.png);
					border:1px solid @color-grey-200;
					.body-content .scheduler{
						font-style: italic;
						font-size: 10px;
					}
				}
			}

		}
	}
}

.count_module,.count_module,.update_module {
	.circle;
	float: left;
	font-size:11px;
	text-align: center;
	&.remaining{
		background-color: @color-green;
		float:right;
		text-decoration: none;
		color:black;
		font-weight: bold;
	}
	&.trainees{
		background-color: @color-green;
	}
}

.menu_content_lesson_multiple{
	padding: 0;
	.header{
		background-color: @color-blue;
		.title{
			color:white;
			text-align: center;
			font-size: @size-13;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	md-menu-item.subHeader{
		height: 30px;
		min-height: 30px;
		font-size: 12px;
		font-style: italic;
		text-align: center;
		span {
			margin-top:10px;
			margin-bottom:0;
		}
	}

	md-menu-item.item.ng-scope{
		text-align: center;
	}

	.item {
		font-size: 12px;
		.lessonMultiple{
			font-weight: bold;
		}
		.lessonMultiple_date{
			font-weight: normal;
		}
	}
}

.circle(){
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	width: 25px;
	height: 25px;
	line-height: 25px;
}

.update_module{
	float: right;
}

.material-icons.md-15{
	font-size: 15px;
}

.md-sidenav-right,.md-sidenav-backdrop {
	position: fixed;
	top: @top_toolbar;
}

.ac-container{
	width: 100%;
	.display-filters {
		z-index: 0;
		position: relative;

		label.background, label.background:hover {
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
			0px 1px 1px 0px rgba(0, 0, 0, 0.14),
			0px 2px 1px -1px rgba(0, 0, 0, 0.12);
		}

		.ac-small {
			overflow: auto;
			md-tabs .md-tab {
				font-weight: 700;
				&.md-active {
					color: @color-purple2;
					font-weight: 700;
				}
			}

			.collapsible-body {
				margin-left: 10px;
				height:100%;
				.filters {
					margin-top: 10px;
					margin-left: 10px;
					height: 75px;
					.chip {
						background-color: @color-purple;
						font-size: @size-13;
						font-weight: 900;
						margin: 0 1px;
					}
				}

				.grpView {
					font-size: 16px;
					margin: 20px 0;
					padding: 3px 15px 3px 15px;
					color: rgb(49, 46, 46);
					background-color: @color-purple;
					text-transform: none;
					font-weight: 400;
					min-width: 100px;
					font-size: @size-13;
					&.active {
						background-color: @color-purple2;
						color: white;
						font-weight: 900;
					}
				}
				.md-button.left {
					border-radius: 10px 0 0 10px;
				}
				.md-button.middle {
					border-radius: 0;
					border-left: 1px solid rgba(230, 230, 230, 0.96);
					border-right: 1px solid rgba(230, 230, 230, 0.96);
				}
				.md-button.right {
					border-radius: 0 10px 10px 0;
				}
				.md-button:not([disabled]):hover {
					background-color: @color-purple2;
					color: white;
					font-weight: 900;
					transition: 0.3s;
				}
				.md-button:active {
					background-color: @color-purple2;
					color: white;
					font-weight: 900;
				}

			}
		}

		input:checked + label.background{
			background-color: @color-purple;
		}
		label.background{
			background: white;
			border:none;
			height: 40px;
			.md-fab.md-mini {
				background-color: @color-purple2;
				margin:0;
				line-height: 0;
				z-index: 0;
				i {
					line-height: 15px;
				}
			}
		}
		.ac-small{
			.chips-title{
				font-size: @size-13;
				font-weight: bold;
			}
			.md-chips.md-readonly {
				box-shadow: none;
			}
			md-chip{
				font-size: @size-11;
			}
		}
	}
}
/** SIDE BAR */
.md-theme-light.lesson{
	background-color: @color-blue3;
	.md-toolbar-tools {
		color:white;
	}
	md-icon{
		cursor: pointer;
		color:white;
	}
	.subtitle{
		font-size: 16px;
		margin: 0;
		padding-left: 16px;
		color:white;
	}
}

.displayAlerts{
	md-list-item{
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
		margin-bottom: 4%;
	}
	.md-avatar-icon.notifications.warning{
		background-color: @color-red-200;
		color:@color-input-frame;
		&.material-icons{
			margin-top:25px;
		}
	}
}

md-content .ext-content {
	padding: 50px;
	margin: 20px;
	background-color: #FFF2E0; }

md-tab-content,md-sidenav {
	overflow: hidden;
}

.affectation {
	md-tabs-canvas{
		font-weight: bold;
		color:@color-white;
		background-color: @color-blue3;
	}
	.md-raised.md-primary{
		font-weight: bold;
		color: @color-white;
	}
}

