.profile {
  .header {
    background-image: url(../images/bg_profileHeader.png);
    background-color: @color-grey-200;
  }
}

.profile:hover {
  .header {
    background-image: url(../images/bg_profileHeader-hover.png);
    background-color: @color-grey-200;
  }
}
