.settings {
  .md-toolbar-tools{
    color: @color-white;
    list-style-type: none;
  }

  md-list-item .md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon){
    margin: 0;
  }
  button.md-nav {
    position: absolute;
    float: left;
    top: 8px;
    left: 8px;
    z-index: 999;
    margin: 0;
  }
  .header {
    background-image: url(../images/bg_header.png);
  }

}

/* CONFIGURATION */
.configuration {
  font-size: 0.8em;

  label{
    line-height: 45px;
  }

  md-input-container label{
    line-height: normal;
  }

  div input{
    // text-align: right;
    height: 30px;
    // width: 60px;
  }

  .row-form {
    padding: 0 1.2em 0 1.2em;
  }

  .row-form:hover {
    background-color: #ececec;
  }

  /** BOX STYLING **/
  .bottom-bordered {
      border-bottom: 1px solid;
  }

  md-autocomplete[md-floating-label] md-autocomplete-wrap {
      height: 70px;
  }
  md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline {
    bottom: 16px;;
  }
  .is-first {
    background-color: @color-green;
  }
}

md-toolbar.toolbar-secondary{
  background-color: @color-blue4;
  .md-toolbar-tools{
    color: @color-black;
  }
}
