@color-blue:#01579b;
@color-blue2:#00BFFF;
@color-blue3:#2E9AFE;
@color-blue4:#9FC6FF;
@color-blue5:#E0F2F7;
@color-blue6:#b3d3f1;
@color-green:#AEEA00;
@color-brown:#B45F04;
@color-brown2:#b94d1a;
@color-brown3:#FAFBCB;
@color-brown4:#f8ebbc;
@color-grey:#585858;
@color-grey2:#4b6f83;
@color-grey3:#bec0c1;
@color-white:#FFFFFF;
@color-black:#000000;
@color-purple:#e5d3f0;
@color-purple2:#b069dc;

@top_toolbar: 64px;

@size-13: 13px;
@size-11: 11px;
@size-9: 9px;

@background-color-toolbar:#01579b;
@color-toolbar:#ffffff;
@background-color-icon-toolbar:#00BFFF;
@background-color-frame_filter:#FAFBCB;
@background-color-btn-primary:#AEEA00;
@background-color-btn-second:#B45F04;
@color-input-frame: #585858;

@color-lime-200:#E6EE9C;
@color-lime-a700:#AEEA00;
@color-orange-200:#FFCC80;
@color-orange-400:#FFA726;
@color-green-200:#A5D6A7;
@color-green-400:#66BB6A;
@color-red-200:#ef9a9a;
@color-red-400:#EF5350;
@color-blue-100: #BBDEFB;
@color-blue-200: #90CAF9;
@color-blue-300:#64B5F6;
@color-blue-400:#42A5F5;
@color-blue-500: #2196F3;
@color-blue-600: #1E88E5;
@color-blue-700: #1976D2;
@color-blue-800: #1565C0;
@color-blue-900: #0D47A1;
@color-blue-a100: #448AFF;
@color-blue-a200: #2979FF;
@color-blue-a400: #2979FF;
@color-blue-a700: #2962FF;
@color-grey-100: #CFD8DC;
@color-grey-200: #B0BEC5;
@color-grey-300: #90A4AE;
@color-grey-400: #78909C;
@color-grey-500: #607D8B;
@color-grey-600: #546E7A;
@color-grey-700: #455A64;
@color-grey-800: #37474F;
@color-grey-900: #263238;

@font-color-primary-td:#FFFFFF;
@background-color-third-td:#FFFFFF;

@import "general.less";
@import "menu.less";
@import "planning.less";
@import "settings.less";
@import "login.less";
@import "profile.less";
